/*  
z-index
    alert = 7000
    dropdown = 6200
    timepick = 6100
    header = 5300
    left-menu = 5200
    left-menu.fixed = 5500
    sub-menu = 5100
    control = 100000
    modal = 50000
*/

/*----- scrollbar -----*/

/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
} */

html {
    scrollbar-color: #606060 transparent;
}

/* html {
    overflow: hidden;
}

body {
    overflow: auto;
}

@media screen and (max-width: 640px) {
    body {
        scrollbar-gutter: stable;
    }
}

@media screen and (min-width: 641px) {
    body {
        scrollbar-gutter: stable both-edges;
    }
} */

/*----- scrollbar -----*/

/*----- layout -----*/

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-width: 100%;
}

html,
body {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    text-size-adjust: 100%;
    font-family: "Microsoft JhengHei", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

/*----- layout -----*/

/*----- header -----*/

.header {
    position: relative;
    z-index: 5300;
    font-size: 0;
    margin: 0px 0px 0px 0px;
    /* border-radius: 0.35rem; */
}

.header.sticky {
    position: sticky;
    top: 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    height: 60px;
    max-width: 1324px;
    margin: 0 auto;
}

.header .start {
    display: flex;
    align-items: center;
}

.header .end {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.header .center {
    display: flex;
    align-items: center;
}

.header .nav-button {
    width: 40px;
    height: 40px;
    padding: 8px;
    align-self: center;
}

.header .nav-button button {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
}

.nav-button-d {
    display: block;
}

.nav-button-m {
    display: none;
}

@media screen and (max-width: 1330px) {
    .nav-button-d {
        display: none;
    }

    .nav-button-m {
        display: block;
    }
}

.nav-logo {
    height: 40px;
    margin: 10px 10px;
}

.nav-logo img {
    height: 100%;
    width: auto;
    align-self: center;
}

.nav-logo.cicle img {
    border-radius: 50%;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
}

.nav-logo-wrap {
    display: flex;
    align-items: center;
}

.nav-title.nologo {
    padding-left: 10px;
}

@media screen and (max-width: 640px) {
    .header .nav-link,
    .header .nav-link-button {
        margin-right: 10px;
    }
}

@media screen and (min-width: 641px) {
    .header .nav-link,
    .header .nav-link-button {
        margin-right: 15px;
    }
}

.header .end .nav-link:last-child,
.header .end .nav-link-button:last-child {
    margin-right: 0px;
}

.nav-link-button.theme-button-light {
    display: none;
}

.nav-link-button.theme-button-light.show {
    display: flex;
}

.nav-link-button.theme-button-dark {
    display: none;
}

.nav-link-button.theme-button-dark.show {
    display: flex;
}

/*----- header -----*/

/*----- container -----*/

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1324px;
    margin: 0 auto;
}

/*----- container -----*/

/*----- sub-menu -----*/

.sub-menu {
    position: relative;
    z-index: 5100;
    margin: 15px 0px 15px 0px;
    border-radius: 0.35rem;
    border-top: 1px solid rgb(60, 60, 60, .12);
}

.sub-menu.sticky {
    position: sticky;
    top: 0;
}

.sub-menu-inner {
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.sub-menu-item {
    display: block;
    padding: 10px 15px 7px 15px;
    font-size: 1rem;
    line-height: 1.3;
}

.sub-menu-item.round {
    border-radius: 3px;
}

.sub-menu-item.active {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

/*----- sub-menu -----*/

/*----- main -----*/

.main {
    margin: 0 auto;
    width: 100%;
    max-width: 1319px;
}

.main.active {
    max-width: 1084px;
}

.main-inner {
    /* https://css-tricks.com/couple-takes-sticky-footer/ */
    /* screen - header - footer - content */
    min-height: calc(100vh - 75px - 35px - 1rem);
    margin: 0px 0px 15px 0px;
}

/*----- main -----*/

/*----- footer -----*/

.footer {
    font-size: 0.8rem;
    margin: 15px 0px 15px 0px;
    text-align: center;
}

.footer-inner {
    padding: 0px 0px 0px 0px;
}

.copyright-divider {
    margin: 0 0.3rem;
}

/*----- footer -----*/

/*----- board -----*/

.board {
    margin: 15px auto;
    padding: 15px 15px;
    border-radius: 0.35rem;
    word-wrap: break-word;
    word-break: break-all;
    border-top: 1px solid rgb(60, 60, 60, .12);
}

.board.fw {
    padding: 15px 15px;
}

@media screen and (max-width: 640px) {
    .board {
        padding: 15px 5px;
    }
}

@media screen and (min-width: 641px) {
    .board {
        padding: 15px 10px;
    }
}

@media screen and (min-width: 1025px) {
    .board {
        padding: 15px 15px;
    }
}

.board-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.35rem;
    line-height: 1.35rem;
    padding: 15px 15px 15px 15px;
    margin: 0 0 15px 0;
}

.board-header i {
    padding-right: 0.5rem;
}

.board-header-title {
    display: flex;
    align-items: center;
}

.board-header .description {
    font-size: 1rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.board-title {
    font-weight: bold;
}

/*----- board -----*/

/*----- block -----*/

.block {
    margin: 15px auto;
    padding: 15px 15px;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width: 640px) {
    .block {
        padding: 15px 5px;
    }
}

@media screen and (min-width: 641px) {
    .block {
        padding: 15px 10px;
    }
}

@media screen and (min-width: 1025px) {
    .block {
        padding: 15px 15px;
    }
}

/*----- block -----*/

/*----- table -----*/

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

table th {
    font-weight: normal;
}

table th,
table td {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 15px 15px;
}

@media screen and (max-width: 640px) {

    table th,
    table td {
        padding: 15px 5px;
    }
}

@media screen and (min-width: 641px) {

    table th,
    table td {
        padding: 15px 10px;
    }
}

@media screen and (min-width: 1025px) {

    table th,
    table td {
        padding: 15px 15px;
    }
}

.tag {
    display: inline-block;
    color: #7e7e7e;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

.tag-o {
    display: inline-block;
    padding: 5px;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    line-height: 0.9rem;
    border-width: 1px;
    border-style: solid;
}

.row-empty {
    padding: 30px 15px;
    font-size: 0.9rem;
}

/*----- table -----*/

/*----- button-round -----*/

.button-round {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

.button-round.left {
    padding: 5px 10px 5px 15px;
    border-radius: 3.5rem 0 0 3.5rem;
    margin-left: auto;
}

.button-round.right {
    padding: 5px 15px 5px 10px;
    border-radius: 0 3.5rem 3.5rem 0;
    border-left: none;
}

/*----- button-round -----*/

/*----- control -----*/

.control {
    position: fixed;
    z-index: 100000;
}

.control .button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
    outline: 0;
    box-shadow: 0 6px 10px -5px rgb(0 0 0 / 50%);
}

@media screen and (min-width: 0px) {
    .control {
        bottom: 25px;
        right: 25px;
    }

    .control .button {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .control {
        bottom: 30px;
        right: 30px;
    }

    .control .button {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

/*----- control -----*/