/*----- left-menu -----*/

.left-menu {
    background-color: var(--boardColor);
    box-shadow: var(--boardShadow);
    border-top-color: var(--leftMenuBorderTop);
}

@media screen and (max-width: 1330px) {
    .left-menu.open {
        border-top-color: var(--leftMenuOpenBorderTop);
    }
}

.left-menu-scrollable {
    /* scrollbar-color: var(--scrollbarColor) transparent; */
    scrollbar-color: transparent transparent;
}

.left-menu-scrollable:hover {
    scrollbar-color: var(--scrollbarHoverColor) transparent;
}

.left-menu .separator {
    background-color: var(--leftMenuSeparatorBgColor);
}

.left-menu-item i {
    color: var(--leftMenuItemIColor);
}

.left-menu-item.active {
    background-color: var(--menuActive);
    border-left-color: var(--menuSelected);
}

@media screen and (min-width: 1025px) {
    .left-menu-item.active:hover {
        background-color: var(--menuActive);
    }

    .left-menu-item:hover {
        background-color: var(--menuHover);
    }
}

.left-menu .left-menu-group-title {
    color: var(--leftMenuGroupTitleColor);
}

.left-menu .left-menu-group-title:hover {
    color: var(--leftMenuGroupTitleHoverColor);
}

/*----- left-menu -----*/

/*----- left-menu -----*/

.left-menu {
    display: none;
    align-self: start;
    flex: 0 0 auto;
    width: 240px;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
}

@media screen and (min-width: 1331px) {
    .left-menu {
        position: sticky;
        z-index: 5200;
        top: 75px;
        /* border-radius: .35rem; */
        border-radius: 7px;
        margin-top: 15px;
        margin-right: 15px;
    }

    .left-menu.active {
        display: block;
    }
}

@media screen and (max-width: 1330px) {
    .left-menu {
        position: fixed;
        z-index: 5500;
        top: 60px;
        left: 0;
        height: 100vh;
        border-radius: 0px;
    }

    .left-menu.open {
        display: block;
    }
}

.left-menu-scrollable {
    overflow-y: auto;
    scrollbar-width: thin;
    width: 240px;
}

@media screen and (min-width: 1331px) {
    .left-menu-scrollable {
        max-height: calc(100vh - 75px - 15px - 3px);
    }
}

@media screen and (max-width: 1330px) {
    .left-menu-scrollable {
        max-height: calc(100vh - 60px);
        height: calc(100vh - 60px);
    }
}

.left-menu-mask {
    display: none;
    opacity: 0;
}

@media screen and (max-width: 1330px) {
    .left-menu-mask {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        z-index: 5199;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .left-menu-mask.open {
        display: block;
        opacity: 1;
    }
}

/* .left-menu hr {
    height: 0px;
    border: 0px;
    border-bottom: 1px solid #f1f1f1;
} */

.left-menu .separator {
    height: 1px;
    margin: 5px 5px;
    transform: scaleY(1.5);
}

.left-menu-inner {
    padding: 15px 15px 15px 15px;
}

.left-menu-item {
    display: block;
    padding: 10px 12px;
    font-size: 1rem;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 3px solid rgba(0, 0, 0, 0);
}

/* .left-menu-item.active {
    border-left-width: 3px;
    border-left-style: solid;
} */

.left-menu-item.round {
    /* border-radius: .5rem; */
    border-radius: 10px;
}

.left-menu-item.round.active {
    border-left-color: rgba(0, 0, 0, 0);
}

.left-menu-item i {
    margin-right: 5px;
}

.left-menu-item.active i {
    color: inherit;
}

@media screen and (min-width: 1025px) {
    .left-menu-item:hover i {
        color: inherit;
    }
}

.left-menu-group-title {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    font-size: .85rem;
    line-height: 1.5;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    /* justify-content: space-between; */
}

.left-menu-group-title:hover {
    /* text-decoration: underline; */
    text-decoration-thickness: 1px;
}

.left-menu-group-toggle {
    font-size: .7rem;
    line-height: 1.5;
    font-weight: 700;
    margin-left: 5px;
}

.left-menu-group .left-menu-group-children {
    display: none;
}

.left-menu-group.open .left-menu-group-children {
    display: block;
}

.left-menu-group .expand {
    display: none;
}

.left-menu-group.open .expand {
    display: inline;
}

.left-menu-group .collapse {
    display: inline;
}

.left-menu-group.open .collapse {
    display: none;
}

/*----- left-menu -----*/

/* .left-menu {
    animation: 1.2s cubic-bezier(.16, 1, .3, 1) leftMenuSlideDownAndFade;
}

@keyframes leftMenuSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

.left-menu.activing,
.left-menu.opening {
    display: block;
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    /* transition: height .2s ease, width .2s ease, opacity .2s ease; */
    transition: height .3s ease, width .3s ease, opacity .3s ease;
}

.left-menu-mask.opening {
    display: block;
    opacity: 0;
    /* transition: opacity .15s linear; */
    /* transition: opacity .2s ease; */
    transition: opacity .3s ease;
}

.left-menu-group-children {
    animation: .2s cubic-bezier(.16, 1, .3, 1) leftMenuGroupSlideDownAndFade;
}

@keyframes leftMenuGroupSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}