body.light {
    /*----- button -----*/
    /* --buttonLightColor: #242424; */
    --buttonLightColor: #262626;
    /* --buttonLightBgColor: #f2f2f2; */
    --buttonLightBgColor: #f5f5f5;
    --buttonLightHoverBgColor: #e6e6e6;
    /* --buttonLightActiveBgColor: #cecece; */
    --buttonLightActiveBgColor: #f0f0f0;
    --buttonDarkColor: #fff;
    --buttonDarkBgColor: #3b3b3b;
    --buttonDarkHoverBgColor: rgba(48,48,48,.85);
    --buttonDarkActiveBgColor: rgba(48,48,48,.75);
    /* --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #0d0d0d80; */
    --buttonDisabledColor: #505050;
    --buttonDisabledBgColor: #ccc;
    /*----- button -----*/

    /*----- modal-icon-button -----*/
    --modalIconButtonColor: #262626;
    --modalIconButtonBgColor: #0000;
    --modalIconButtonHoverBgColor: #f5f5f5;
    --modalIconButtonActiveBgColor: #f0f0f0;
    /*----- modal-icon-button -----*/

    /*----- modal-button -----*/
    --modalLightButtonColor: #262626;
    --modalLightButtonBgColor: #f5f5f5;
    --modalLightButtonHoverBgColor: #e6e6e6;
    --modalLightButtonActiveBgColor: #f0f0f0;
    --modalDarkButtonColor: #fff;
    --modalDarkButtonBgColor: #3b3b3b;
    --modalDarkButtonHoverBgColor: rgba(48,48,48,.85);
    --modalDarkButtonActiveBgColor: rgba(48,48,48,.75);
    /* --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #0d0d0d80; */
    --modalButtonDisabledColor: #505050;
    --modalButtonDisabledBgColor: #ccc;
    /*----- modal-button -----*/
}

body.dark {
    /*----- button -----*/
    --buttonLightColor: #d2d3d5;
    --buttonLightBgColor: #3d3d3d;
    --buttonLightHoverBgColor: #535353;
    /* --buttonLightActiveBgColor: #656565; */
    --buttonLightActiveBgColor: #434343;
    /* --buttonLightActiveBgColor: #2a2a2a; */
    --buttonDarkColor: #181818;
    --buttonDarkBgColor: #ececec;
    --buttonDarkHoverBgColor: rgba(255, 255, 255, .85);
    --buttonDarkActiveBgColor: rgba(255, 255, 255, .75);
    --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #f9f9f980;
    /*----- button -----*/

    /*----- modal-icon-button -----*/
    --modalIconButtonColor: #d2d3d5;
    --modalIconButtonBgColor: #0000;
    /* --modalIconButtonHoverBgColor: #383838; */
    --modalIconButtonHoverBgColor: #3d3d3d;
    /* --modalIconButtonActiveBgColor: #2c2c2c; */
    --modalIconButtonActiveBgColor: #434343;
    /* --modalIconButtonHoverBgColor: #4a4a4a;
    --modalIconButtonActiveBgColor: #3f3f3f; */
    /*----- modal-icon-button -----*/

    /*----- modal-button -----*/
    --modalLightButtonColor: #d2d3d5;
    /* --modalLightButtonBgColor: #2c2c2c; */
    --modalLightButtonBgColor: #3d3d3d;
    /* --modalLightButtonHoverBgColor: #3d3d3d; */
    --modalLightButtonHoverBgColor: #535353;
    /* --modalLightButtonActiveBgColor: #353535; */
    --modalLightButtonActiveBgColor: #434343;
    --modalDarkButtonColor: #181818;
    --modalDarkButtonBgColor: #ececec;
    --modalDarkButtonHoverBgColor: rgba(255, 255, 255, .85);
    --modalDarkButtonActiveBgColor: rgba(255, 255, 255, .75);
    --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #f9f9f980;
    /*----- modal-button -----*/
}

/*----- button -----*/

.button.light {
    /* color: var(--linkColor); */
    color: var(--buttonLightColor);
    background: var(--buttonLightBgColor);
}

.button.light:hover {
    background: var(--buttonLightHoverBgColor);
}

.button.light:active {
    background: var(--buttonLightActiveBgColor);
}

.button.dark {
    color: var(--buttonDarkColor);
    background: var(--buttonDarkBgColor);
}

.button.dark:hover {
    background: var(--buttonDarkHoverBgColor);
}

.button.dark:active {
    background: var(--buttonDarkActiveBgColor);
}

.button.light:disabled,
.button.dark:disabled {
    color: var(--buttonDisabledColor);
    background: var(--buttonDisabledBgColor);
}

.button {
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    /* border-radius: .35rem; */
    border-radius: 8px;
    padding: 0 12px;
    font-size: 1rem;
    box-sizing: border-box;
    outline-width: 0;
    font-family: inherit;
    white-space: nowrap;
}

.button.round {
    border-radius: 50rem;
}

.button:disabled {
    opacity: .5;
}

/*----- button -----*/

/*----- modal-icon-button -----*/

.modal-icon-button {
    color: var(--modalIconButtonColor);
    background-color: var(--modalIconButtonBgColor);
}

.modal-icon-button:hover {
    background-color: var(--modalIconButtonHoverBgColor);
}

.modal-icon-button:active {
    background-color: var(--modalIconButtonActiveBgColor);
}

.modal-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    width: 43px;
    height: 43px;
    border: 0 solid;
    font-size: 1rem;
    line-height: 1.5;
}

.modal-icon-button.round {
    border-radius: 50rem;
}

.modal-icon-button.square {
    border-radius: .5rem;
}

/*----- modal-icon-button -----*/

/*----- modal-button -----*/

.modal-button.light {
    color: var(--modalLightButtonColor);
    background-color: var(--modalLightButtonBgColor);
}

.modal-button.light:hover {
    background-color: var(--modalLightButtonHoverBgColor);
}

.modal-button.light:active {
    background-color: var(--modalLightButtonActiveBgColor);
}

.modal-button.dark {
    color: var(--modalDarkButtonColor);
    background-color: var(--modalDarkButtonBgColor);
}

.modal-button.dark:hover {
    background-color: var(--modalDarkButtonHoverBgColor);
}

.modal-button.dark:active {
    background-color: var(--modalDarkButtonActiveBgColor);
}

.modal-button.light:disabled,
.modal-button.dark:disabled {
    color: var(--modalButtonDisabledColor);
    background-color: var(--modalButtonDisabledBgColor);
}

.modal-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0 solid;
    font-size: 0.9rem;
    line-height: 2;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 8px;
    /* border-radius: .35rem; */
    height: 45px;
    border: 0px solid;
}

.modal-button.round {
    border-radius: 50rem;
}

.modal-button:disabled {
    opacity: .5;
}

/*----- modal-button -----*/

/*----- color -----*/

.button.danger,
.button.success,
.button.warning,
.button.info,
.button.blue,
.button.purple,
.modal-button.danger,
.modal-button.success,
.modal-button.warning,
.modal-button.info,
.modal-button.blue,
.modal-button.purple {
    color: #fff;
}

.button.danger:active,
.button.success:active,
.button.warning:active,
.button.info:active,
.button.blue:active,
.button.purple:active,
.modal-button.danger:active,
.modal-button.success:active,
.modal-button.warning:active,
.modal-button.info:active,
.modal-button.blue:active,
.modal-button.purple:active {
    opacity: .8;
}

.button.danger:disabled,
.button.success:disabled,
.button.warning:disabled,
.button.info:disabled,
.button.blue:disabled,
.button.purple:disabled,
.modal-button.danger:disabled,
.modal-button.success:disabled,
.modal-button.warning:disabled,
.modal-button.info:disabled,
.modal-button.blue:disabled,
.modal-button.purple:disabled {
    opacity: .5;
}

.button.danger, .modal-button.danger,
.button.danger:disabled, .modal-button.danger:disabled,
.button.danger:hover:disabled, .modal-button.danger:hover:disabled {
    background-color: #e02e2a;
}

.button.danger:hover, .modal-button.danger:hover,
.button.danger:active, .modal-button.danger:active {
    background-color:#911e1b;
}

.button.success, .modal-button.success,
.button.success:disabled, .modal-button.success:disabled,
.button.success:hover:disabled, .modal-button.success:hover:disabled {
    background-color: #008635;
}

.button.success:hover, .modal-button.success:hover,
.button.success:active, .modal-button.success:active {
    background-color:#00692a;
}

.button.warning, .modal-button.warning,
.button.warning:disabled, .modal-button.warning:disabled,
.button.warning:hover:disabled, .modal-button.warning:hover:disabled {
    background-color: #ffc300;
}

.button.warning:hover, .modal-button.warning:hover,
.button.warning:active, .modal-button.warning:active {
    background-color:#ffc300e6;
}

.button.info, .modal-button.info,
.button.info:disabled, .modal-button.info:disabled,
.button.info:hover:disabled, .modal-button.info:hover:disabled {
    background-color: #0285ff;
}

.button.info:hover, .modal-button.info:hover,
.button.info:active, .modal-button.info:active {
    background-color:#0285ffe6;
}

.button.blue, .modal-button.blue,
.button.blue:disabled, .modal-button.blue:disabled,
.button.blue:hover:disabled, .modal-button.blue:hover:disabled {
    background-color: #0066de;
}

.button.blue:hover, .modal-button.blue:hover,
.button.blue:active, .modal-button.blue:active {
    background-color:#003f7a;
}

.button.purple, .modal-button.purple,
.button.purple:disabled, .modal-button.purple:disabled,
.button.purple:hover:disabled, .modal-button.purple:hover:disabled {
    background-color: #615eeb;
}

.button.purple:hover, .modal-button.purple:hover,
.button.purple:active, .modal-button.purple:active {
    background-color:#6353c3;
}

/*----- color -----*/