body.light {
    --buttonLightColor: #242424;
    /*--buttonLightBgColor: #f2f2f2;*/
    --buttonLightBgColor: #f5f5f5;
    --buttonLightHoverBgColor: #e6e6e6;
    --buttonLightActiveBgColor: #cecece;
    /* --buttonLightActiveBgColor: #f6f6f6; */
    /* --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #0d0d0d80; */
    --buttonDisabledColor: #505050;
    --buttonDisabledBgColor: #ccc;
}

body.dark {
    --buttonLightColor: #d2d3d5;
    --buttonLightBgColor: #3d3d3d;
    --buttonLightHoverBgColor: #535353;
    --buttonLightActiveBgColor: #656565;
    /* --buttonLightActiveBgColor: #2a2a2a; */
    --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #f9f9f980;
}

.button.light {
    /* color: var(--linkColor); */
    color: var(--buttonLightColor);
    background: var(--buttonLightBgColor);
}

.button.light:hover {
    background: var(--buttonLightHoverBgColor);
}

.button.light:active {
    background: var(--buttonLightActiveBgColor);
}

.button.disabled,
.button:disabled,
.button.light.disabled,
.button.light:disabled {
    color: var(--buttonDisabledColor);
    background: var(--buttonDisabledBgColor);
}

.button {
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 8px;
    padding: 0 12px;
    font-size: 1rem;
    box-sizing: border-box;
    outline-width: 0;
    font-family: inherit;
    white-space: nowrap;
}

.button.disabled,
.button:disabled,
.button.light.disabled,
.button.light:disabled {
    opacity: .5;
}