body.light {
    /*----- button -----*/
    /* --buttonLightColor: #242424; */
    --buttonLightColor: #262626;
    /* --buttonLightBgColor: #f2f2f2; */
    --buttonLightBgColor: #f5f5f5;
    --buttonLightHoverBgColor: #e6e6e6;
    /* --buttonLightActiveBgColor: #cecece; */
    --buttonLightActiveBgColor: #f0f0f0;
    --buttonDarkColor: #fff;
    --buttonDarkBgColor: #3b3b3b;
    --buttonDarkHoverBgColor: rgba(48,48,48,.85);
    --buttonDarkActiveBgColor: rgba(48,48,48,.75);
    /* --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #0d0d0d80; */
    --buttonDisabledColor: #505050;
    --buttonDisabledBgColor: #ccc;
    --buttonDisabledBorderColor: #bbb;
    /*----- button -----*/

    /*----- button-o -----*/
    /* --buttonOLightColor: #7e7e7e; */
    --buttonOLightColor: #505050;
    /* --buttonOLightBorderColor: #e6e6e6; */
    --buttonOLightBorderColor: #d3d3d3;
    /* --buttonOLightHoverBgColor: #f5f5f5; */
    --buttonOLightHoverBgColor: #f0f0f0;
    /* --buttonOLightActiveBgColor: #f0f0f0; */
    --buttonOLightActiveBgColor: #e6e6e6;
    --buttonODarkColor: #3b3b3b;
    --buttonODarkBorderColor: #3b3b3b;
    --buttonODarkHoverColor: #fff;
    --buttonODarkHoverBgColor: #3b3b3b;
    /* --buttonODarkActiveBgColor: rgba(48,48,48,.85); */
    --buttonODarkActiveBgColor: rgba(48,48,48,.75);
    /*----- button-o -----*/

    /*----- modal-button -----*/
    --modalButtonLightColor: #262626;
    --modalButtonLightBgColor: #f5f5f5;
    --modalButtonLightHoverBgColor: #e6e6e6;
    --modalButtonLightActiveBgColor: #f0f0f0;
    --modalButtonDarkColor: #fff;
    --modalButtonDarkBgColor: #3b3b3b;
    --modalButtonDarkHoverBgColor: rgba(48,48,48,.85);
    --modalButtonDarkActiveBgColor: rgba(48,48,48,.75);
    /* --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #0d0d0d80; */
    --modalButtonDisabledColor: #505050;
    --modalButtonDisabledBgColor: #ccc;
    --modalButtonDisabledBorderColor: #bbb;
    /*----- modal-button -----*/
    
    /*----- modal-button-o -----*/
    --modalButtonOLightColor: #505050;
    --modalButtonOLightBorderColor: #d3d3d3;
    --modalButtonOLightHoverBgColor: #f0f0f0;
    --modalButtonOLightActiveBgColor: #e6e6e6;
    --modalButtonODarkColor: #3b3b3b;
    --modalButtonODarkBorderColor: #3b3b3b;
    --modalButtonODarkHoverColor: #fff;
    --modalButtonODarkHoverBgColor: #3b3b3b;
    --modalButtonODarkActiveBgColor: rgba(48,48,48,.75);
    /*----- modal-button-o -----*/

    /*----- icon-button -----*/
    --iconButtonColor: #262626;
    --iconButtonBgColor: #0000;
    --iconButtonHoverBgColor: #f5f5f5;
    --iconButtonActiveBgColor: #f0f0f0;
    /*----- icon-button -----*/

    /*----- modal-icon-button -----*/
    --modalIconButtonColor: #262626;
    --modalIconButtonBgColor: #0000;
    --modalIconButtonHoverBgColor: #f5f5f5;
    --modalIconButtonActiveBgColor: #f0f0f0;
    /*----- modal-icon-button -----*/
}

body.dark {
    /*----- button -----*/
    --buttonLightColor: #d2d3d5;
    --buttonLightBgColor: #3d3d3d;
    --buttonLightHoverBgColor: #535353;
    /* --buttonLightActiveBgColor: #656565; */
    --buttonLightActiveBgColor: #434343;
    /* --buttonLightActiveBgColor: #2a2a2a; */
    --buttonDarkColor: #181818;
    --buttonDarkBgColor: #ececec;
    --buttonDarkHoverBgColor: rgba(255, 255, 255, .85);
    --buttonDarkActiveBgColor: rgba(255, 255, 255, .75);
    --buttonDisabledColor: #fff;
    /* --buttonDisabledBgColor: #f9f9f980; */
    --buttonDisabledBgColor: #959595;
    --buttonDisabledBorderColor: #a6a6a6;
    /*----- button -----*/

    /*----- button-o -----*/
    /* --buttonOLightColor: #aaa; */
    --buttonOLightColor: #ccc;
    /* --buttonOLightBorderColor: #4d4d4d; */
    --buttonOLightBorderColor: #636363;
    /* --buttonOLightHoverBgColor: #3d3d3d; */
    --buttonOLightHoverBgColor: #434343;
    /* --buttonOLightActiveBgColor: #434343; */
    --buttonOLightActiveBgColor: #535353;
    --buttonODarkColor: #ececec;
    --buttonODarkBorderColor: #ececec;
    --buttonODarkHoverColor: #181818;
    --buttonODarkHoverBgColor: #ececec;
    /* --buttonODarkActiveBgColor: rgba(255, 255, 255,.85); */
    --buttonODarkActiveBgColor: rgba(255, 255, 255, .75);
    /*----- button-o -----*/

    /*----- modal-button -----*/
    --modalButtonLightColor: #d2d3d5;
    /* --modalButtonLightBgColor: #2c2c2c; */
    --modalButtonLightBgColor: #3d3d3d;
    /* --modalButtonLightHoverBgColor: #3d3d3d; */
    --modalButtonLightHoverBgColor: #535353;
    /* --modalButtonLightActiveBgColor: #353535; */
    --modalButtonLightActiveBgColor: #434343;
    --modalButtonDarkColor: #181818;
    --modalButtonDarkBgColor: #ececec;
    --modalButtonDarkHoverBgColor: rgba(255, 255, 255, .85);
    --modalButtonDarkActiveBgColor: rgba(255, 255, 255, .75);
    --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #959595;
    --modalButtonDisabledBorderColor: #a6a6a6;
    /*----- modal-button -----*/
    
    /*----- modal-button-o -----*/
    --modalButtonOLightColor: #ccc;
    --modalButtonOLightBorderColor: #636363;
    --modalButtonOLightHoverBgColor: #434343;
    --modalButtonOLightActiveBgColor: #535353;
    --modalButtonODarkColor: #ececec;
    --modalButtonODarkBorderColor: #ececec;
    --modalButtonODarkHoverColor: #181818;
    --modalButtonODarkHoverBgColor: #ececec;
    --modalButtonODarkActiveBgColor: rgba(255, 255, 255, .75);
    /*----- modal-button-o -----*/

    /*----- icon-button -----*/
    --iconButtonColor: #d2d3d5;
    --iconButtonBgColor: #0000;
    --iconButtonHoverBgColor: #3d3d3d;
    --iconButtonActiveBgColor: #434343;
    /*----- icon-button -----*/

    /*----- modal-icon-button -----*/
    --modalIconButtonColor: #d2d3d5;
    --modalIconButtonBgColor: #0000;
    /* --modalIconButtonHoverBgColor: #383838; */
    --modalIconButtonHoverBgColor: #3d3d3d;
    /* --modalIconButtonActiveBgColor: #2c2c2c; */
    --modalIconButtonActiveBgColor: #434343;
    /* --modalIconButtonHoverBgColor: #4a4a4a;
    --modalIconButtonActiveBgColor: #3f3f3f; */
    /*----- modal-icon-button -----*/
}

/*----- button -----*/

.button.light {
    /* color: var(--linkColor); */
    color: var(--buttonLightColor);
    background-color: var(--buttonLightBgColor);
}

@media screen and (min-width: 1025px) {
    .button.light:not(:disabled):hover {
        background-color: var(--buttonLightHoverBgColor);
    }
    
    .button.light:not(:disabled):active {
        background-color: var(--buttonLightActiveBgColor);
    }
}

.button.dark {
    color: var(--buttonDarkColor);
    background-color: var(--buttonDarkBgColor);
}

@media screen and (min-width: 1025px) {
    .button.dark:not(:disabled):hover {
        background-color: var(--buttonDarkHoverBgColor);
    }

    .button.dark:not(:disabled):active {
        background-color: var(--buttonDarkActiveBgColor);
    }
}

.button.light:disabled,
.button.dark:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBgColor);
}

.button {
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    /* border-radius: .35rem; */
    border-radius: 8px;
    padding: 0 12px;
    font-size: .9rem;
    box-sizing: border-box;
    outline-width: 0;
    font-family: inherit;
    white-space: nowrap;
    /* position: relative;
    overflow: hidden; */
}

/* .button::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
} */

.button.round {
    border-radius: 50rem;
}

.button:disabled {
    opacity: .5;
}

.button.btn-sm {
    font-size: .8rem;
    padding: 0 10px;
    line-height: 1.94;
}

/*----- button -----*/

/*----- button-o -----*/

.button-o.light {
    color: var(--buttonOLightColor);
    border-color: var(--buttonOLightBorderColor);
    background-color: transparent;
}

@media screen and (min-width: 1025px) {
    .button-o.light:not(:disabled):hover {
        background-color: var(--buttonOLightHoverBgColor);
    }
    
    .button-o.light:not(:disabled):active {
        background-color: var(--buttonOLightActiveBgColor);
    }
}

.button-o.dark {
    color: var(--buttonODarkColor);
    border-color: var(--buttonODarkColor);
    background-color: transparent;
}

@media screen and (min-width: 1025px) {
    .button-o.dark:not(:disabled):hover {
        color: var(--buttonODarkHoverColor);
        background-color: var(--buttonODarkHoverBgColor);
    }

    .button-o.dark:not(:disabled):active {
        color: var(--buttonODarkHoverColor);
        background-color: var(--buttonODarkActiveBgColor);
    }
}

/* .button-o.light:disabled,
.button-o.dark:disabled {
    color: var(--buttonDisabledColor);
    background-color: var(--buttonDisabledBgColor);
    border-color: var(--buttonDisabledBorderColor);
} */

.button-o {
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    /* border-radius: .35rem; */
    border-radius: 8px;
    padding: 0 12px;
    font-size: .9rem;
    box-sizing: border-box;
    outline-width: 0;
    font-family: inherit;
    white-space: nowrap;
    /* position: relative;
    overflow: hidden; */
}

/* .button-o::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
} */

.button-o.round {
    border-radius: 50rem;
}

.button-o:disabled {
    opacity: .5;
}

.button-o.btn-sm {
    font-size: .8rem;
    padding: 0 10px;
    line-height: 1.94;
}

/*----- button-o -----*/

/*----- modal-button -----*/

.modal-button.light {
    color: var(--modalButtonLightColor);
    background-color: var(--modalButtonLightBgColor);
}

@media screen and (min-width: 1025px) {
    .modal-button.light:not(:disabled):hover {
        background-color: var(--modalButtonLightHoverBgColor);
    }

    .modal-button.light:not(:disabled):active {
        background-color: var(--modalButtonLightActiveBgColor);
    }
}

.modal-button.dark {
    color: var(--modalButtonDarkColor);
    background-color: var(--modalButtonDarkBgColor);
}

@media screen and (min-width: 1025px) {
    .modal-button.dark:not(:disabled):hover {
        background-color: var(--modalButtonDarkHoverBgColor);
    }

    .modal-button.dark:not(:disabled):active {
        background-color: var(--modalButtonDarkActiveBgColor);
    }
}

.modal-button.light:disabled,
.modal-button.dark:disabled {
    color: var(--modalButtonDisabledColor);
    background-color: var(--modalButtonDisabledBgColor);
}

.modal-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border: none;
    /* font-size: .9rem; */
    font-size: .875rem;
    line-height: 2;
    font-weight: 700;
    padding: 0 15px;
    /* border-radius: 8px; */
    /* border-radius: .35rem; */
    border-radius: 50rem;
    height: 45px;
    /* position: relative;
    overflow: hidden; */
}

/* .modal-button::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
} */

.modal-button:disabled {
    opacity: .5;
}

.modal-button.btn-sm {
    /* font-size: .8rem; */
    font-size: .75rem;
    height: 40px;
    padding: 0 12px;
}

/*----- modal-button -----*/

/*----- modal-button-o -----*/

.modal-button-o.light {
    color: var(--modalButtonOLightColor);
    border-color: var(--modalButtonOLightBorderColor);
    background-color: transparent;
}

@media screen and (min-width: 1025px) {
    .modal-button-o.light:not(:disabled):hover {
        background-color: var(--modalButtonOLightHoverBgColor);
    }

    .modal-button-o.light:not(:disabled):active {
        background-color: var(--modalButtonOLightActiveBgColor);
    }
}

.modal-button-o.dark {
    color: var(--modalButtonODarkColor);
    border-color: var(--modalButtonODarkColor);
    background-color: transparent;
}

@media screen and (min-width: 1025px) {
    .modal-button-o.dark:not(:disabled):hover {
        color: var(--modalButtonODarkHoverColor);
        background-color: var(--modalButtonODarkHoverBgColor);
    }

    .modal-button-o.dark:not(:disabled):active {
        color: var(--modalButtonODarkHoverColor);
        background-color: var(--modalButtonODarkActiveBgColor);
    }
}

/* .modal-button-o.light:disabled,
.modal-button-o.dark:disabled {
    color: var(--modalButtonDisabledColor);
    background-color: var(--modalButtonDisabledBgColor);
    border-color: var(--modalButtonDisabledBorderColor);
} */

.modal-button-o {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    /* font-size: .9rem; */
    font-size: .875rem;
    line-height: 2;
    font-weight: 700;
    padding: 0 15px;
    /* border-radius: 8px; */
    /* border-radius: .35rem; */
    border-radius: 50rem;
    height: 45px;
    /* position: relative;
    overflow: hidden; */
}

/* .modal-button-o::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
} */

.modal-button-o:disabled {
    opacity: .5;
}

.modal-button-o.btn-sm {
    /* font-size: .8rem; */
    font-size: .75rem;
    height: 40px;
    padding: 0 12px;
}

/*----- modal-button-o -----*/

/*----- icon-button -----*/

.icon-button {
    color: var(--iconButtonColor);
    background-color: var(--iconButtonBgColor);
}

@media screen and (min-width: 1025px) {
    .icon-button:not(:disabled):hover {
        color: var(--iconButtonColor);
        background-color: var(--iconButtonHoverBgColor);
    }
    
    .icon-button:not(:disabled):active {
        color: var(--iconButtonColor);
        background-color: var(--iconButtonActiveBgColor);
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    width: 36px;
    height: 36px;
    border: 0 solid;
    font-size: 1rem;
    line-height: 1.5;
}

.icon-button.round {
    border-radius: 50rem;
}

.icon-button.square {
    border-radius: .5rem;
}

/*----- icon-button -----*/

/*----- modal-icon-button -----*/

.modal-icon-button {
    color: var(--modalIconButtonColor);
    background-color: var(--modalIconButtonBgColor);
}

@media screen and (min-width: 1025px) {
    .modal-icon-button:not(:disabled):hover {
        background-color: var(--modalIconButtonHoverBgColor);
    }
    
    .modal-icon-button:not(:disabled):active {
        background-color: var(--modalIconButtonActiveBgColor);
    }
}

.modal-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    width: 43px;
    height: 43px;
    border: 0 solid;
    font-size: 1rem;
    line-height: 1.5;
}

.modal-icon-button.round {
    border-radius: 50rem;
}

.modal-icon-button.square {
    border-radius: .5rem;
}

/*----- modal-icon-button -----*/