body.light {
    /*----- button -----*/
    --buttonLightColor: #242424;
    /*--buttonLightBgColor: #f2f2f2;*/
    --buttonLightBgColor: #f5f5f5;
    --buttonLightHoverBgColor: #e6e6e6;
    --buttonLightActiveBgColor: #cecece;
    /* --buttonLightActiveBgColor: #f6f6f6; */
    /* --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #0d0d0d80; */
    --buttonDisabledColor: #505050;
    --buttonDisabledBgColor: #ccc;
    /*----- button -----*/

    /*----- modal-icon-button -----*/
    --modalIconButtonColor: #262626;
    --modalIconButtonBgColor: #0000;
    --modalIconButtonHoverBgColor: #f5f5f5;
    --modalIconButtonActiveBgColor: #f0f0f0;
    /*----- modal-icon-button -----*/

    /*----- modal-button -----*/
    --modalDarkButtonColor: #fff;
    --modalDarkButtonBgColor: #3b3b3b;
    --modalDarkButtonHoverBgColor: rgba(48,48,48,.85);
    --modalDarkButtonActiveBgColor: rgba(48,48,48,.75);
    --modalLightButtonColor: #262626;
    --modalLightButtonBgColor: #f5f5f5;
    --modalLightButtonHoverBgColor: #e6e6e6;
    --modalLightButtonActiveBgColor: #f0f0f0;
    /* --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #0d0d0d80; */
    --modalButtonDisabledColor: #505050;
    --modalButtonDisabledBgColor: #ccc;
    /*----- modal-button -----*/
}

body.dark {
    /*----- button -----*/
    --buttonLightColor: #d2d3d5;
    --buttonLightBgColor: #3d3d3d;
    --buttonLightHoverBgColor: #535353;
    --buttonLightActiveBgColor: #656565;
    /* --buttonLightActiveBgColor: #2a2a2a; */
    --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #f9f9f980;
    /*----- button -----*/

    /*----- modal-icon-button -----*/
    --modalIconButtonColor: #d2d3d5;
    --modalIconButtonBgColor: #0000;
    --modalIconButtonHoverBgColor: #383838;
    --modalIconButtonActiveBgColor: #2c2c2c;
    /* --modalIconButtonHoverBgColor: #4a4a4a;
    --modalIconButtonActiveBgColor: #3f3f3f; */
    /*----- modal-icon-button -----*/

    /*----- modal-button -----*/
    --modalDarkButtonColor: #181818;
    --modalDarkButtonBgColor: #ececec;
    --modalDarkButtonHoverBgColor: rgba(255, 255, 255, .85);
    --modalDarkButtonActiveBgColor: rgba(255, 255, 255, .75);
    --modalLightButtonColor: #d2d3d5;
    --modalLightButtonBgColor: #2c2c2c;
    --modalLightButtonHoverBgColor: #3d3d3d;
    --modalLightButtonActiveBgColor: #353535;
    --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #f9f9f980;
    /*----- modal-button -----*/
}

/*----- button -----*/

.button.light {
    /* color: var(--linkColor); */
    color: var(--buttonLightColor);
    background: var(--buttonLightBgColor);
}

.button.light:hover {
    background: var(--buttonLightHoverBgColor);
}

.button.light:active {
    background: var(--buttonLightActiveBgColor);
}

.button.disabled,
.button:disabled,
.button.light.disabled,
.button.light:disabled {
    color: var(--buttonDisabledColor);
    background: var(--buttonDisabledBgColor);
}

.button {
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: 8px;
    padding: 0 12px;
    font-size: 1rem;
    box-sizing: border-box;
    outline-width: 0;
    font-family: inherit;
    white-space: nowrap;
}

.button.disabled,
.button:disabled,
.button.light.disabled,
.button.light:disabled {
    opacity: .5;
}

/*----- button -----*/

/*----- modal-icon-button -----*/

.modal-icon-button {
    color: var(--modalIconButtonColor);
    background-color: var(--modalIconButtonBgColor);
}

.modal-icon-button:hover {
    background-color: var(--modalIconButtonHoverBgColor);
}

.modal-icon-button:active {
    background-color: var(--modalIconButtonActiveBgColor);
}

.modal-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    width: 43px;
    height: 43px;
    border: 0 solid;
    font-size: 1rem;
    line-height: 1.5;
}

.modal-icon-button.round {
    border-radius: 50rem;
}

.modal-icon-button.square {
    border-radius: .5rem;
}

/*----- modal-icon-button -----*/

/*----- modal-button -----*/

.modal-button.dark {
    color: var(--modalDarkButtonColor);
    background-color: var(--modalDarkButtonBgColor);
}

.modal-button.dark:hover {
    background-color: var(--modalDarkButtonHoverBgColor);
}

.modal-button.dark:active {
    background-color: var(--modalDarkButtonActiveBgColor);
}

.modal-button.light {
    color: var(--modalLightButtonColor);
    background-color: var(--modalLightButtonBgColor);
}

.modal-button.light:hover {
    background-color: var(--modalLightButtonHoverBgColor);
}

.modal-button.light:active {
    background-color: var(--modalLightButtonActiveBgColor);
}

.modal-button.danger {
    color: #fff;
    background-color: #e02e2a;
}

.modal-button.danger:hover {
    background-color:#911e1b;
}

.modal-button.danger:active {
    background-color:#911e1b;
    opacity: .8;
}

.modal-button.danger.disabled,
.modal-button.danger:disabled {
    color: #fff;
    background-color: #e02e2a;
    opacity: .5;
}

.modal-button.disabled,
.modal-button:disabled,
.modal-button.dark.disabled,
.modal-button.dark:disabled,
.modal-button.light.disabled,
.modal-button.light:disabled {
    color: var(--modalButtonDisabledColor);
    background-color: var(--modalButtonDisabledBgColor);
}

.modal-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0 solid;
    font-size: 0.9rem;
    line-height: 2;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 50rem;
    height: 45px;
    border: 0px solid;
}

.modal-button.disabled,
.modal-button:disabled,
.modal-button.dark.disabled,
.modal-button.dark:disabled,
.modal-button.light.disabled,
.modal-button.light:disabled {
    opacity: .5;
}

/*----- modal-button -----*/