body.light {
    /*----- button -----*/
    --buttonLightColor: #262626;
    --buttonLightBgColor: #f5f5f5;
    --buttonLightHoverBgColor: #e6e6e6;
    --buttonLightActiveBgColor: #f0f0f0;
    --buttonDarkColor: #fff;
    --buttonDarkBgColor: #3b3b3b;
    --buttonDarkHoverBgColor: rgba(48,48,48,.85);
    --buttonDarkActiveBgColor: rgba(48,48,48,.75);
    --buttonDisabledColor: #505050;
    --buttonDisabledBgColor: #ccc;
    /*----- button -----*/

    /*----- modal-button -----*/
    --modalButtonLightColor: #262626;
    --modalButtonLightBgColor: #f5f5f5;
    --modalButtonLightHoverBgColor: #e6e6e6;
    --modalButtonLightActiveBgColor: #f0f0f0;
    --modalButtonDarkColor: #fff;
    --modalButtonDarkBgColor: #3b3b3b;
    --modalButtonDarkHoverBgColor: rgba(48,48,48,.85);
    --modalButtonDarkActiveBgColor: rgba(48,48,48,.75);
    --modalButtonDisabledColor: #505050;
    --modalButtonDisabledBgColor: #ccc;
    /*----- modal-button -----*/
}

body.dark {
    /*----- button -----*/
    --buttonLightColor: #d2d3d5;
    --buttonLightBgColor: #3d3d3d;
    --buttonLightHoverBgColor: #535353;
    --buttonLightActiveBgColor: #434343;
    --buttonDarkColor: #181818;
    --buttonDarkBgColor: #ececec;
    --buttonDarkHoverBgColor: rgba(255, 255, 255, .85);
    --buttonDarkActiveBgColor: rgba(255, 255, 255, .75);
    --buttonDisabledColor: #fff;
    --buttonDisabledBgColor: #f9f9f980;
    /*----- button -----*/

    /*----- modal-button -----*/
    --modalButtonLightColor: #d2d3d5;
    --modalButtonLightBgColor: #3d3d3d;
    --modalButtonLightHoverBgColor: #535353;
    --modalButtonLightActiveBgColor: #434343;
    --modalButtonDarkColor: #181818;
    --modalButtonDarkBgColor: #ececec;
    --modalButtonDarkHoverBgColor: rgba(255, 255, 255, .85);
    --modalButtonDarkActiveBgColor: rgba(255, 255, 255, .75);
    --modalButtonDisabledColor: #fff;
    --modalButtonDisabledBgColor: #f9f9f980;
    /*----- modal-button -----*/
}

/*----- button -----*/

.button-o.light {
    color: var(--buttonLightColor);
    background: transparent;
}

.button-o.light:hover {
    background: var(--buttonLightHoverBgColor);
}

.button-o.light:active {
    background: var(--buttonLightActiveBgColor);
}

.button-o.dark {
    color: var(--buttonDarkColor);
    background: transparent;
}

.button-o.dark:hover {
    background: var(--buttonDarkHoverBgColor);
}

.button-o.dark:active {
    background: var(--buttonDarkActiveBgColor);
}

.button-o.light:disabled,
.button-o.dark:disabled {
    color: var(--buttonDisabledColor);
    background: var(--buttonDisabledBgColor);
}

.button-o {
    display: inline-block;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    /* border-radius: .35rem; */
    border-radius: 8px;
    padding: 0 12px;
    font-size: 1rem;
    box-sizing: border-box;
    outline-width: 0;
    font-family: inherit;
    white-space: nowrap;
}

.button-o.round {
    border-radius: 50rem;
}

.button-o:disabled {
    opacity: .5;
}

/*----- button -----*/

/*----- modal-button -----*/

.modal-button-o.light {
    color: var(--modalButtonLightColor);
    background-color: transparent;
}

.modal-button-o.light:hover {
    background-color: var(--modalButtonLightHoverBgColor);
}

.modal-button-o.light:active {
    background-color: var(--modalButtonLightActiveBgColor);
}

.modal-button-o.dark {
    color: var(--modalButtonDarkColor);
    background-color: transparent;
}

.modal-button-o.dark:hover {
    background-color: var(--modalButtonDarkHoverBgColor);
}

.modal-button-o.dark:active {
    background-color: var(--modalButtonDarkActiveBgColor);
}

.modal-button-o.light:disabled,
.modal-button-o.dark:disabled {
    color: var(--modalButtonDisabledColor);
    background-color: var(--modalButtonDisabledBgColor);
}

.modal-button-o {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    font-size: 0.9rem;
    line-height: 2;
    font-weight: 700;
    padding: 0 15px;
    border-radius: 8px;
    /* border-radius: .35rem; */
    height: 45px;
}

.modal-button-o.round {
    border-radius: 50rem;
}

.modal-button-o:disabled {
    opacity: .5;
}

/*----- modal-button -----*/

/*----- color -----*/

.button-o.danger,
.button-o.success,
.button-o.warning,
.button-o.info,
.button-o.blue,
.button-o.purple,
.modal-button-o.danger,
.modal-button-o.success,
.modal-button-o.warning,
.modal-button-o.info,
.modal-button-o.blue,
.modal-button-o.purple,
.button-o.danger:disabled,
.button-o.success:disabled,
.button-o.warning:disabled,
.button-o.info:disabled,
.button-o.blue:disabled,
.button-o.purple:disabled,
.modal-button-o.danger:disabled,
.modal-button-o.success:disabled,
.modal-button-o.warning:disabled,
.modal-button-o.info:disabled,
.modal-button-o.blue:disabled,
.modal-button-o.purple:disabled,
.button-o.danger:hover:disabled,
.button-o.success:hover:disabled,
.button-o.warning:hover:disabled,
.button-o.info:hover:disabled,
.button-o.blue:hover:disabled,
.button-o.purple:hover:disabled,
.modal-button-o.danger:hover:disabled,
.modal-button-o.success:hover:disabled,
.modal-button-o.warning:hover:disabled,
.modal-button-o.info:hover:disabled,
.modal-button-o.blue:hover:disabled,
.modal-button-o.purple:hover:disabled,
.button-o.danger:active:disabled,
.button-o.success:active:disabled,
.button-o.warning:active:disabled,
.button-o.info:active:disabled,
.button-o.blue:active:disabled,
.button-o.purple:active:disabled,
.modal-button-o.danger:active:disabled,
.modal-button-o.success:active:disabled,
.modal-button-o.warning:active:disabled,
.modal-button-o.info:active:disabled,
.modal-button-o.blue:active:disabled,
.modal-button-o.purple:active:disabled {
    background-color: transparent;
}

.button-o.danger:hover,
.button-o.success:hover,
.button-o.warning:hover,
.button-o.info:hover,
.button-o.blue:hover,
.button-o.purple:hover,
.modal-button-o.danger:hover,
.modal-button-o.success:hover,
.modal-button-o.warning:hover,
.modal-button-o.info:hover,
.modal-button-o.blue:hover,
.modal-button-o.purple:hover,
.button-o.danger:active,
.button-o.success:active,
.button-o.warning:active,
.button-o.info:active,
.button-o.blue:active,
.button-o.purple:active,
.modal-button-o.danger:active,
.modal-button-o.success:active,
.modal-button-o.warning:active,
.modal-button-o.info:active,
.modal-button-o.blue:active,
.modal-button-o.purple:active {
    color: #fff;
}

.button-o.danger:active,
.button-o.success:active,
.button-o.warning:active,
.button-o.info:active,
.button-o.blue:active,
.button-o.purple:active,
.modal-button-o.danger:active,
.modal-button-o.success:active,
.modal-button-o.warning:active,
.modal-button-o.info:active,
.modal-button-o.blue:active,
.modal-button-o.purple:active {
    opacity: .8;
}

.button-o.danger:disabled,
.button-o.success:disabled,
.button-o.warning:disabled,
.button-o.info:disabled,
.button-o.blue:disabled,
.button-o.purple:disabled,
.modal-button-o.danger:disabled,
.modal-button-o.success:disabled,
.modal-button-o.warning:disabled,
.modal-button-o.info:disabled,
.modal-button-o.blue:disabled,
.modal-button-o.purple:disabled {
    opacity: .5;
}

.button-o.danger, .modal-button-o.danger,
.button-o.danger:disabled, .modal-button-o.danger:disabled,
.button-o.danger:hover:disabled, .modal-button-o.danger:hover:disabled {
    color: #e02e2a;
    border-color: #e02e2a;
}

.button-o.danger:hover, .modal-button-o.danger:hover,
.button-o.danger:active, .modal-button-o.danger:active {
    background-color: #e02e2a;
    /* background-color:#911e1b; */
}

.button-o.success, .modal-button-o.success,
.button-o.success:disabled, .modal-button-o.success:disabled,
.button-o.success:hover:disabled, .modal-button-o.success:hover:disabled {
    color: #008635;
    border-color: #008635;
}

.button-o.success:hover, .modal-button-o.success:hover,
.button-o.success:active, .modal-button-o.success:active {
    background-color: #008635;
    /* background-color:#00692a; */
}

.button-o.warning, .modal-button-o.warning,
.button-o.warning:disabled, .modal-button-o.warning:disabled,
.button-o.warning:hover:disabled, .modal-button-o.warning:hover:disabled {
    color: #ffc300;
    border-color: #ffc300;
}

.button-o.warning:hover, .modal-button-o.warning:hover,
.button-o.warning:active, .modal-button-o.warning:active {
    background-color: #ffc300;
    /* background-color:#ffc300e6; */
}

.button-o.info, .modal-button-o.info,
.button-o.info:disabled, .modal-button-o.info:disabled,
.button-o.info:hover:disabled, .modal-button-o.info:hover:disabled {
    color: #0285ff;
    border-color: #0285ff;
}

.button-o.info:hover, .modal-button-o.info:hover,
.button-o.info:active, .modal-button-o.info:active {
    background-color: #0285ff;
    /* background-color:#0285ffe6; */
}

.button-o.blue, .modal-button-o.blue,
.button-o.blue:disabled, .modal-button-o.blue:disabled,
.button-o.blue:hover:disabled, .modal-button-o.blue:hover:disabled {
    color: #0066de;
    border-color: #0066de;
}

.button-o.blue:hover, .modal-button-o.blue:hover,
.button-o.blue:active, .modal-button-o.blue:active {
    background-color: #0066de;
    /* background-color:#003f7a; */
}

.button-o.purple, .modal-button-o.purple,
.button-o.purple:disabled, .modal-button-o.purple:disabled,
.button-o.purple:hover:disabled, .modal-button-o.purple:hover:disabled {
    color: #615eeb;
    border-color: #615eeb;
}

.button-o.purple:hover, .modal-button-o.purple:hover,
.button-o.purple:active, .modal-button-o.purple:active {
    background-color: #615eeb;
    /* background-color:#6353c3; */
}

/*----- color -----*/