body.light {
    --alertLightColor: #5d5d5d;
    --alertLightBgColor: #f3f3f3;
}

body.dark {
    --alertLightColor: #f3f3f3;
    /* --alertLightBgColor: #414141; */
    --alertLightBgColor: #494949;
}

.alert.light {
    color: var(--alertLightColor);
    background-color: var(--alertLightBgColor);
}

.alert {
    display: flex;
    align-items: center;
    border-radius: .75rem;
    padding: 15px;
    margin-top: 20px;
}

.alert-icon {
    display: inline-flex;
    /* margin-right: 12px; */
    margin-right: 10px;
}

.alert-text {
    text-wrap: pretty;
    font-size: .8rem;
    line-height: 1.5;
}

.alert.center {
    justify-content: center;
}

.alert.sm {
    border-radius: .55rem;
    padding: 10px;
    margin-top: 15px;
}

.alert.sm .alert-icon {
    margin-right: 5px;
}