body.light {
    --formFieldDescriptionColor: #525252;
    --formFieldErrorColor: hsl(35.753 96.053% 29.804%);
    --inputColor: #474747;
    --inputBgColor: #fcfcfc;
    --inputBorderColor: #c4c6c9;
    --inputBorderFocusColor: #040405;
    --inputPlaceholderColor: #bfbfbf;
    --checkboxMarkColor: #72767d;
    --checkboxMarkCheckedColor: #f9f9f9;
    --checkboxMarkCheckedBgColor: #474747;
    --checkboxWrapColor: #fcfcfc;
    --checkboxWrapBorderColor: #c4c6c9;
    --themeCircleBoardColor: #474747;
    --themeCircleShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);;
    --themeCircleLightColor: #f9f9f9;
    --themeCircleDarkColor: #474747;
    --formHrColor: #e6e6e6;
}

body.dark {
    --formFieldDescriptionColor: #b7babd;
    --formFieldErrorColor: hsl(32.941 57.955% 65.49%);
    --inputColor: #c4c6c9;
    --inputBgColor: #242424;
    --inputBorderColor: #040405;
    --inputBorderFocusColor: #c4c6c9;
    --inputPlaceholderColor: #737373;
    --checkboxMarkColor: #72767d;
    --checkboxMarkCheckedColor: #242424;
    --checkboxMarkCheckedBgColor:#c4c6c9;
    --checkboxWrapColor: #242424;
    --checkboxWrapBorderColor: #040405;
    --themeCircleBoardColor: #c4c6c9;
    --themeCircleShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);;
    --themeCircleLightColor: #c4c6c9;
    --themeCircleDarkColor: #242424;
    --formHrColor: #4d4d4d;
}

/*----- form -----*/

.form-field-description {
    color: var(--formFieldDescriptionColor);
}

.form-field-error {
    color: var(--formFieldErrorColor);
}

.form-field-required-indicator {
    color: hsl(358.659 87.317% 59.804%);
}

.form .hr {
    border-bottom-color: var(--formHrColor);
}

/*----- form -----*/

/*----- input -----*/

input {
    color: var(--inputColor);
    background-color: var(--inputBgColor);
    border-color: var(--inputBorderColor);
}

input:focus {
    border-color: var(--inputBorderFocusColor);
}

input::placeholder {
    color: var(--inputPlaceholderColor);
}

textarea {
    color: var(--inputColor);
    background-color: var(--inputBgColor);
    border-color: var(--inputBorderColor);
}

textarea:focus {
    border-color: var(--inputBorderFocusColor);
}

textarea::placeholder {
    color: var(--inputPlaceholderColor);
}

textarea {
    scrollbar-color: var(--scrollbarColor) transparent;
}

textarea:hover {
    scrollbar-color: var(--scrollbarHoverColor) transparent;
}

/*----- input -----*/

/*----- checkbox -----*/

.checkbox-mark {
    border-color: var(--checkboxMarkColor);
}

.checkbox-mark.checked {
    border-color: var(--checkboxMarkCheckedBgColor);
    background-color: var(--checkboxMarkCheckedBgColor);
}

.checkbox-mark.checked polyline {
    stroke: var(--checkboxMarkCheckedColor);
}

.checkbox-wrap {
    background-color: var(--checkboxWrapColor);
    border-color: var(--checkboxWrapBorderColor);
}

/*----- checkbox -----*/

/*----- theme-circle -----*/

.theme-circle {
    border-color: var(--themeCircleBoardColor);
    box-shadow: var(--themeCircleShadow);
}

.theme-circle i.light {
    color: var(--themeCircleLightColor);
}

.theme-circle i.dark {
    color: var(--themeCircleDarkColor);
}

/*----- theme-circle -----*/

/*----- theme-sample-text -----*/

.theme-sample-text {
    border-color: var(--themeCircleBoardColor);
}

/*----- theme-sample-text -----*/