body.light {
    --formFieldDescriptionColor: #525252;
    --formFieldErrorColor: hsl(35.753 96.053% 29.804%);
    --inputColor: #474747;
    --inputBgColor: #fcfcfc;
    --inputBorderColor: #c4c6c9;
    --inputBorderFocusColor: #040405;
    --inputPlaceholderColor: #bfbfbf;
    --checkboxMarkColor: #72767d;
    --checkboxMarkCheckedColor: #f9f9f9;
    --checkboxMarkCheckedBgColor: #474747;
    --checkboxWrapColor: #fcfcfc;
    --checkboxWrapBorderColor: #c4c6c9;
    --filePickerColor: #262626;
    --filePickerIconColor: #505050;
    /* --filePickerHoverColor: #7a7a7a; */
    /* --filePickerHoverColor: #242424; */
    --filePickerHoverColor: #141414;
    --filePickerHoverBgColor: #f5f5f5;
    /* --filePickerHoverBgColor: #fcfcfc; */
    --themeCircleBoardColor: #474747;
    --themeCircleShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);;
    --themeCircleLightColor: #f9f9f9;
    --themeCircleDarkColor: #474747;
    --formHrColor: #e6e6e6;
}

body.dark {
    --formFieldDescriptionColor: #b7babd;
    --formFieldErrorColor: hsl(32.941 57.955% 65.49%);
    --inputColor: #c4c6c9;
    --inputBgColor: #242424;
    --inputBorderColor: #040405;
    --inputBorderFocusColor: #c4c6c9;
    --inputPlaceholderColor: #737373;
    --checkboxMarkColor: #72767d;
    --checkboxMarkCheckedColor: #242424;
    --checkboxMarkCheckedBgColor:#c4c6c9;
    --checkboxWrapColor: #242424;
    --checkboxWrapBorderColor: #040405;
    --filePickerColor: #d2d3d5;
    /* --filePickerIconColor: #ccc; */
    --filePickerIconColor: #dadada;
    --filePickerHoverColor: #fff;
    --filePickerHoverBgColor: #404040;
    --themeCircleBoardColor: #c4c6c9;
    --themeCircleShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);;
    --themeCircleLightColor: #c4c6c9;
    --themeCircleDarkColor: #242424;
    --formHrColor: #4d4d4d;
}

/*----- form -----*/

.form-field-description {
    color: var(--formFieldDescriptionColor);
}

.form-field-error {
    color: var(--formFieldErrorColor);
}

.form-field-required-indicator {
    color: hsl(358.659 87.317% 59.804%);
}

.form .hr {
    border-bottom-color: var(--formHrColor);
}

/*----- form -----*/

/*----- input -----*/

input {
    color: var(--inputColor);
    background-color: var(--inputBgColor);
    border-color: var(--inputBorderColor);
}

input:focus {
    border-color: var(--inputBorderFocusColor);
}

input::placeholder {
    color: var(--inputPlaceholderColor);
}

textarea {
    color: var(--inputColor);
    background-color: var(--inputBgColor);
    border-color: var(--inputBorderColor);
}

textarea:focus {
    border-color: var(--inputBorderFocusColor);
}

textarea::placeholder {
    color: var(--inputPlaceholderColor);
}

textarea {
    scrollbar-color: var(--scrollbarColor) transparent;
}

textarea:hover {
    scrollbar-color: var(--scrollbarHoverColor) transparent;
}

/*----- input -----*/

/*----- checkbox -----*/

.checkbox-mark {
    border-color: var(--checkboxMarkColor);
}

/* .checkbox-mark.checked {
    border-color: var(--checkboxMarkCheckedBgColor);
    background-color: var(--checkboxMarkCheckedBgColor);
}

.checkbox-mark.checked polyline {
    stroke: var(--checkboxMarkCheckedColor);
} */

.checkbox input:checked ~ .checkbox-mark {
    border-color: var(--checkboxMarkCheckedBgColor);
    background-color: var(--checkboxMarkCheckedBgColor);
}

/* .checkbox input:checked ~ .checkbox-mark polyline {
    stroke: var(--checkboxMarkCheckedColor);
} */

.checkbox-mark polyline {
    stroke: var(--checkboxMarkCheckedColor);
}

@media screen and (min-width: 1025px) {
    .checkbox.hover:hover .checkbox-text {
        color: var(--linkHoverColor);
    }
}

.checkbox-wrap {
    background-color: var(--checkboxWrapColor);
    border-color: var(--checkboxWrapBorderColor);
}

/*----- checkbox -----*/

/*----- radio -----*/

.radio-mark {
    border-color: var(--checkboxMarkColor);
}

.radio input:checked ~ .radio-mark {
    border-color: var(--checkboxMarkCheckedBgColor);
    background-color: var(--checkboxMarkCheckedBgColor);
}

.radio-mark circle {
    fill: var(--checkboxMarkCheckedColor);
}

@media screen and (min-width: 1025px) {
    .radio.hover:hover .radio-text {
        color: var(--linkHoverColor);
    }
}

.radio-wrap {
    background-color: var(--checkboxWrapColor);
    border-color: var(--checkboxWrapBorderColor);
}

/*----- radio -----*/

/*----- file-picker -----*/

.file-picker {
    color: var(--filePickerColor);
    border-color: var(--filePickerColor);
}

.file-picker-icon {
    color: var(--filePickerIconColor);
}

@media screen and (min-width: 1025px) {
    .file-picker:hover {
        color: var(--filePickerHoverColor);
        border-color: var(--filePickerHoverColor);
        background-color: var(--filePickerHoverBgColor);
    }

    .file-picker:hover .file-picker-icon {
        color: var(--filePickerHoverColor);
    }
}

/*----- file-picker -----*/

/*----- theme-circle -----*/

.theme-circle {
    border-color: var(--themeCircleBoardColor);
    box-shadow: var(--themeCircleShadow);
}

.theme-circle i.light {
    color: var(--themeCircleLightColor);
}

.theme-circle i.dark {
    color: var(--themeCircleDarkColor);
}

/*----- theme-circle -----*/

/*----- theme-sample-text -----*/

.theme-sample-text {
    border-color: var(--themeCircleBoardColor);
}

/*----- theme-sample-text -----*/