/*----- form -----*/

.form {
    font-family: "Segoe UI", "Microsoft JhengHei";
}

.form-field {
    margin: 25px 0px 10px 0px;
}

.form-field.tight {
    margin-top: 15px;
}

.form-field.first {
    margin-top: 0px;
}

.form-field.last {
    margin-bottom: 0px;
}

.form-field-title-wrap {
    margin-bottom: 15px;
}

.form-field-title-only-wrap {
    margin-bottom: 8px;
}

.form-field-title {
    font-weight: bold;
}

.form-field-description {
    font-size: .8rem;
    margin-top: 5px;
}

.form-field-error {
    font-size: .8rem;
    margin-top: 5px;
}

.form-field-required-indicator {
    font-size: .8rem;
    font-weight: normal;
    vertical-align: text-top;
}

.form .hr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 15px 0px;
}

/*----- form -----*/

/*----- input -----*/

input {
    outline: none;
    /* padding: 10px; */
    padding: .56em;
    border-width: 1px;
    border-style: solid;
    /* border-radius: 3px; */
    /* border-radius: 8px; */
    border-radius: .4rem;
    box-sizing: border-box;
    font-size: .9rem;
    /* line-height: 1.5; */
    line-height: 1;
    font-family: sans-serif;
    width: 100%;
    appearance: none;
}

input::placeholder {
    user-select: none
}

textarea {
    display: block;
    outline: none;
    /* padding: 10px; */
    padding: .56em;
    border-width: 1px;
    border-style: solid;
    /* border-radius: 8px; */
    border-radius: .4rem;
    box-sizing: border-box;
    font-size: .9rem;
    line-height: 1.5;
    font-family: sans-serif;
    width: 100%;
    /* min-height: 100px; */
    min-height: 5.5em;
    overflow-y: auto;
    resize: none;
    appearance: none;
}

textarea::placeholder {
    user-select: none
}

/*----- input -----*/

/*----- checkbox -----*/

.checkbox {
    /* height: 24px; */
    /* height: 1.2rem; */
    display: flex;
    align-items: center;
    /* align-items: start; */
    position: relative;
    user-select: none;
    cursor: pointer;
}

.checkbox input {
    /* width: 24px;
    height: 24px; */
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    appearance: none;
}

.checkbox-mark {
    /* width: 24px;
    height: 24px; */
    width: 1.2rem;
    height: 1.2rem;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    /* flex-shrink: 0; */
    flex: 0 0 auto;
    /* border-radius: 3px; */
    border-radius: .15rem;
    justify-content: center;
    align-items: center;
}

.checkbox-mark svg {
    /* width: .9rem;
    height: .9rem; */
    width: 1rem;
    height: 1rem;
    margin-bottom: .05rem;
}

.checkbox-text {
    /* padding: 0 10px; */
    padding: 0 .56em;
    /* font-size: .85rem; */
    font-size: .9rem;
    /* line-height: 1; */
    line-height: 1.25;
}

.checkbox-wrap {
    /* padding: 10px; */
    padding: .5em;
    /* border-radius: 5px; */
    /* border-radius: 8px; */
    border-radius: .4rem;
    border-style: solid;
    border-width: 1px;
}

.checkbox-wrap:has(> :nth-child(2)) {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*----- checkbox -----*/

/*----- radio -----*/

.radio {
    display: flex;
    align-items: center;
    /* align-items: start; */
    position: relative;
    user-select: none;
    cursor: pointer;
}

.radio input {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    appearance: none;
}

.radio-mark {
    width: 1.2rem;
    height: 1.2rem;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    border-radius: 50rem;
    justify-content: center;
    align-items: center;
}

.radio-mark svg {
    /* width: 1rem;
    height: 1rem; */
    width: 1.2rem;
    height: 1.2rem;
}

.radio-text {
    /* padding: 0 10px; */
    padding: 0 .56em;
    /* font-size: .85rem; */
    font-size: .9rem;
    /* line-height: 1; */
    line-height: 1.25;
}

.radio-wrap {
    padding: .5em;
    border-radius: .4rem;
    border-style: solid;
    border-width: 1px;
}

.radio-wrap:has(> :nth-child(2)) {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*----- radio -----*/

/*----- file-picker -----*/

.file-picker input {
    width: 0;
    height: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    appearance: none;
}

.file-picker {
    display: block;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-width: 2px;
    border-style: dashed;
    border-radius: 8px;
    width: 100%;
    padding: 30px 20px;
    font-size: .9rem;
    line-height: 1.5;
}

.file-picker.selected .file-picker-choose-block {
    display: none;
}

.file-picker:not(.selected) .file-picker-selected-block {
    display: none;
}

.file-picker-icon {
    margin-bottom: 10px;
}

/*----- file-picker -----*/

/*----- theme-circle -----*/

.theme-circles {
    display: flex;
    align-items: start;
    flex-flow: wrap;
}

.theme-circles .theme-circle {
    margin: 10px 15px 0px 0px;
}

.theme-circle {
    border-width: 3px;
    border-style: solid;
    display: block;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50rem;
    text-align: center;
    width: 50px;
    height: 50px;
    /* width: 2.5rem;
    height: 2.5rem; */
    line-height: 50px;
    outline: 0;
}

.theme-circle i {
    display: none;
}

.theme-circle.checked i {
    display: inline-block;
}

.theme-circle.dark {
    background-color: #242424;
}

.theme-circle.dark-blue {
    background-color: #2b394a;
}

.theme-circle.light {
    background-color: #f1f1f1;
}

.theme-circle.gray {
    background-color: #ceceda;
}

.theme-circle.yellow {
    background-color: #fdf3ce;
}

.theme-circle.orange {
    background-color: #fdebce;
}

.theme-circle.blue {
    background-color: #d4eaf7;
}

.theme-circle.green {
    background-color: #daf1e4;
}

/*----- theme-circle -----*/

/*----- theme-sample-text -----*/

.theme-sample-text {
    display: none;
    padding: 15px;
    /* border-radius: .35rem; */
    border-radius: 7px;
    margin-top: 25px;
    border-width: 1px;
    border-style: solid;
    font-weight: 600;
    font-size: 1rem;
}

.theme-sample-text.show {
    display: block;
}

.theme-sample-text.dark {
    color: #c4c6c9;
    /* background-color: #242424; */
    background-color: hsl(0, 0%, 14%)
}

.theme-sample-text.dark-blue {
    color: #c9d1d9;
    /* background-color: #18202a; */
    background-color: hsl(213, 27%, 13%)
}

.theme-sample-text.light {
    color: #474747;
    /* background-color: #fafafa; */
    background-color: hsl(0, 0%, 98%)
}

.theme-sample-text.gray {
    color: #474747;
    /* background-color: #dadae2; */
    background-color: hsl(240, 13%, 87%)
}

.theme-sample-text.yellow {
    color: #474747;
    /* background-color: #fef6dd; */
    background-color: hsl(47, 92%, 93%)
}

.theme-sample-text.orange {
    color: #474747;
    /* background-color: #fef1dd; */
    background-color: hsl(37, 92%, 93%)
}

.theme-sample-text.blue {
    color: #474747;
    /* background-color: #e1f0f9; */
    background-color: hsl(202, 67%, 93%)
}

.theme-sample-text.green {
    color: #474747;
    /* background-color: #e1f4e9; */
    background-color: hsl(146, 47%, 92%)
}

/*----- theme-sample-text -----*/

/*----- input -----*/

input {
    transition: border .15s ease;
}

textarea {
    transition: border .15s ease;
}

/*----- input -----*/

/*----- checkbox -----*/

.checkbox-wrap {
    transition: border .125s;
}

.checkbox-mark {
    transition: border-color .2s ease, background-color .2s ease;
    /* transition: border-color .3s ease, background-color .3s ease; */
}

.checkbox-mark svg {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

/* .checkbox-mark svg {
    animation: checkboxUndraw .12s cubic-bezier(.65, 0, .83, .84) backwards;
}

.checkbox input:checked ~ .checkbox-mark svg {
    animation: checkboxDraw .3s cubic-bezier(.65, 0, .83, .83) both;
}

@keyframes checkboxDraw {
    0% {
        transform: scale(.7);
        opacity: 0;
    }
    25% {
        transform: scale(.7);
        opacity: 0;
    }
    26% {
        transform: scale(.7);
        opacity: 1;
    }
    75% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes checkboxUndraw {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(.7);
        opacity: 1;
    }
    26% {
        transform: scale(.7);
        opacity: 0;
    }
    to {
        opacity: 0;
    }
} */

.checkbox-mark svg {
    transform: scale(0);
    opacity: 0;
    /* transition: transform .3s cubic-bezier(.34, 1.56, .64, 1), opacity .3s ease; */
    /* transition: transform .45s cubic-bezier(.34, 1.85, .64, 1), opacity .3s ease; */
    transition: transform .35s cubic-bezier(.47, 1.8, .4, 1.15), opacity .25s ease;
    /* transition: transform .45s cubic-bezier(.68, -0.6, .32, 1.6), opacity .3s ease; */
}

.checkbox input:checked ~ .checkbox-mark svg {
    transform: scale(1);
    opacity: 1;
}

/*----- checkbox -----*/

/*----- radio -----*/

.radio-wrap {
    transition: border .125s;
}

.radio-mark {
    transition: border-color .2s ease, background-color .2s ease;
}

.radio-mark svg {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.radio-mark svg {
    transform: scale(0);
    opacity: 0;
    transition: transform .35s cubic-bezier(.47, 1.56, .4, 1.15), opacity .25s ease;
}

.radio input:checked ~ .radio-mark svg {
    transform: scale(1);
    opacity: 1;
}

/*----- radio -----*/