/*----- form -----*/

.form {
    font-family: "Segoe UI", "Microsoft JhengHei";
}

.form-field {
    margin: 25px 0px 10px 0px;
}

.form-field.first {
    margin-top: 0px;
}

.form-field.last {
    margin-bottom: 0px;
}

.form-field-title-wrap {
    margin-bottom: 15px;
}

.form-field-title-only-wrap {
    margin-bottom: 8px;
}

.form-field-title {
    font-weight: bold;
}

.form-field-description {
    font-size: 0.8rem;
    margin-top: 5px;
}

.form-field-error {
    font-size: 0.8rem;
    margin-top: 5px;
}

.form-field-required-indicator {
    font-size: 0.8rem;
    font-weight: normal;
    vertical-align: text-top;
}

.form .hr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 15px 0px;
}

/*----- form -----*/

/*----- input -----*/

input {
    outline: none;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    /* border-radius: 3px; */
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    appearance: none;
    transition: border .15s ease;
}

input::placeholder {
    user-select: none
}

textarea {
    display: block;
    outline: none;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    overflow-y: auto;
    resize: none;
    appearance: none;
    transition: border .15s ease;
}

textarea::placeholder {
    user-select: none
}

/*----- input -----*/

/*----- checkbox -----*/

.checkbox {
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    flex: 0 0 auto;
}

.checkbox input {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-mark {
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.checkbox-text {
    padding: 0 10px;
    font-size: 0.85rem;
}

.checkbox-wrap {
    padding: 10px;
    /* border-radius: 5px; */
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    transition: border .125s;
}

/*----- checkbox -----*/

/*----- theme-circle -----*/

.theme-circles {
    display: flex;
    align-items: start;
    flex-flow: wrap;
}

.theme-circles .theme-circle {
    margin: 10px 15px 0px 0px;
}

.theme-circle {
    border-width: 3px;
    border-style: solid;
    display: block;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    outline: 0;
}

.theme-circle i {
    display: none;
}

.theme-circle.checked i {
    display: inline-block;
}

.theme-circle.dark {
    background-color: #242424;
}

.theme-circle.dark-blue {
    background-color: #2b394a;
}

.theme-circle.light {
    background-color: #f1f1f1;
}

.theme-circle.gray {
    background-color: #ceceda;
}

.theme-circle.yellow {
    background-color: #fdf3ce;
}

.theme-circle.orange {
    background-color: #fdebce;
}

.theme-circle.blue {
    background-color: #d4eaf7;
}

.theme-circle.green {
    background-color: #daf1e4;
}

/*----- theme-circle -----*/

/*----- theme-sample-text -----*/

.theme-sample-text {
    display: none;
    padding: 15px;
    border-radius: 0.35rem;
    margin-top: 25px;
    border-width: 1px;
    border-style: solid;
    font-weight: 600;
    font-size: 1rem;
}

.theme-sample-text.show {
    display: block;
}

.theme-sample-text.dark {
    color: #c4c6c9;
    /* background-color: #242424; */
    background-color: hsl(0, 0%, 14%)
}

.theme-sample-text.dark-blue {
    color: #c9d1d9;
    /* background-color: #18202a; */
    background-color: hsl(213, 27%, 13%)
}

.theme-sample-text.light {
    color: #474747;
    /* background-color: #fafafa; */
    background-color: hsl(0, 0%, 98%)
}

.theme-sample-text.gray {
    color: #474747;
    /* background-color: #dadae2; */
    background-color: hsl(240, 13%, 87%)
}

.theme-sample-text.yellow {
    color: #474747;
    /* background-color: #fef6dd; */
    background-color: hsl(47, 92%, 93%)
}

.theme-sample-text.orange {
    color: #474747;
    /* background-color: #fef1dd; */
    background-color: hsl(37, 92%, 93%)
}

.theme-sample-text.blue {
    color: #474747;
    /* background-color: #e1f0f9; */
    background-color: hsl(202, 67%, 93%)
}

.theme-sample-text.green {
    color: #474747;
    /* background-color: #e1f4e9; */
    background-color: hsl(146, 47%, 92%)
}

/*----- theme-sample-text -----*/