/*----- search-box -----*/

@media screen and (max-width: 640px) {
    .search-box.show {
        background-color: var(--boardColor);
    }
}

.search-input-box {
    border-color: var(--buttonRound);
}

/* .search-input-box.focus {
    box-shadow: inset 0 0 0 1px var(--themeButtonBgColor);
} */

.search-input-box:focus-within {
    box-shadow: inset 0 0 0 1px var(--themeButtonBgColor);
}

.search-button {
    border-color: var(--buttonRound);
    background-color: var(--buttonRoundHover);
}

.search-button:hover {
    background-color: var(--buttonRoundActive);
}

/*----- search-box -----*/

/*----- search-box -----*/

.header .center {
    flex: 0 1 550px;
}

.search-box-block {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.search-box {
    display: flex;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
}

@media screen and (max-width: 640px) {
    .search-box {
        display: none;
    }

    .search-box.show {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 10px 10px 10px 10px;
        box-sizing: border-box;
    }
}

.search-back-button {
    display: none;
    align-items: center;
    font-size: 1rem;
    align-self: center;
    padding: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 640px) {
    .search-box.show .search-back-button {
        display: flex;
    }
}

.search-input-box {
    display: flex;
    position: relative;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    box-shadow: none;
    border-radius: 100px 0 0 100px;
    margin: 0;
    padding: 5px 5px 5px 15px;
    flex: 1;
    cursor: text;
}

/* .search-input-box.focus {
    border: 1px solid rgba(0,0,0,0);
} */

.search-input-box:focus-within {
    border: 1px solid rgba(0,0,0,0);
}

.search-input {
    padding: 1px 1px;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: .9rem;
    line-height: 1.2rem;
    font-weight: 500;
}

.search-button {
    border-width: 1px;
    border-style: solid;
    width: 60px;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
}

.search-button-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    transform: translateX(-3px);
}

.search-toggle-button {
    align-items: center;
    font-size: 1rem;
    align-self: center;
    padding: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 640px) {
    .search-toggle-button {
        display: flex;
    }
}

@media screen and (min-width: 641px) {
    .search-toggle-button {
        display: none;
    }
}

.search-clear-button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    align-self: center;
}

/*----- search-box -----*/