body.light {
    /* --buttonRound: #e6e6e6;
    --buttonRoundHover: #f5f5f5;
    --buttonRoundActive: #f1f1f1; */
    --searchButtonBorderColor: #e6e6e6;
    --searchButtonHoverBgColor: #f5f5f5;
    --searchButtonActiveBgColor: #f1f1f1;
    /* --inputColor: #474747; */
    /* --searchInputColor: #474747; */
}

body.dark {
    /* --buttonRound: #4d4d4d;
    --buttonRoundHover: #404040;
    --buttonRoundActive: #454545; */
    --searchButtonBorderColor: #4d4d4d;
    --searchButtonHoverBgColor: #404040;
    --searchButtonActiveBgColor: #454545;
    /* --inputColor: #c4c6c9; */
    /* --searchInputColor: #c4c6c9; */
}

/*----- search-box -----*/

@media screen and (max-width: 640px) {
    .search-box.show {
        background-color: var(--boardColor);
    }
}

.search-input-box {
    border-color: var(--searchButtonBorderColor);
}

/* .search-input-box.focus {
    box-shadow: inset 0 0 0 1px var(--themeButtonBgColor);
} */

.search-input-box:focus-within {
    box-shadow: inset 0 0 0 1px var(--themeButtonBgColor);
}

.search-button {
    border-color: var(--searchButtonBorderColor);
    background-color: var(--searchButtonHoverBgColor);
}

.search-button:hover {
    background-color: var(--searchButtonActiveBgColor);
}

/* .search-input {
    color: var(--searchInputColor);
} */

/*----- search-box -----*/

/*----- search-box -----*/

.header .center {
    flex: 0 1 550px;
}

.search-box-block {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    font-size: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
}

@media screen and (max-width: 640px) {
    .search-box {
        display: none;
    }

    .search-box.show {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        margin: 0;
        /* padding: 10px 10px 10px 10px; */
        padding: .5em .5em .5em .5em;
        box-sizing: border-box;
    }
}

.search-box-inner {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-back-button {
    display: none;
    align-items: center;
    font-size: 1rem;
    align-self: center;
    /* padding: 5px; */
    padding: .25em;
    margin-right: 5px;
}

@media screen and (max-width: 640px) {
    .search-box.show .search-back-button {
        display: flex;
    }
}

.search-input-box {
    display: flex;
    position: relative;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    box-shadow: none;
    border-radius: 50rem 0 0 50rem;
    margin: 0;
    /* padding: 5px 5px 5px 15px; */
    padding: .25em .25em .25em .75em;
    flex: 1;
    cursor: text;
    height: 40px;
    box-sizing: border-box;
}

/* .search-input-box.focus {
    border: 1px solid rgba(0,0,0,0);
} */

.search-input-box:focus-within {
    border: 1px solid rgba(0,0,0,0);
}

.search-input {
    padding: 1px 1px;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    font-size: .9rem;
    /* line-height: 1.2rem; */
    /* line-height: 1.5; */
    line-height: 1.4;
    font-weight: 500;
    font-family: sans-serif;
}

.search-button {
    border-width: 1px;
    border-style: solid;
    width: 60px;
    /* width: 3em; */
    border-radius: 0 50rem 50rem 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
    align-self: stretch;
}

.search-button-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    /* transform: translateX(-3px); */
    transform: translateX(-0.15rem);
}

.search-toggle-button {
    align-items: center;
    font-size: 1rem;
    align-self: center;
    /* padding: 5px; */
    padding: .25em;
    margin-right: 10px;
}

@media screen and (max-width: 640px) {
    .search-toggle-button {
        /* display: flex; */
        display: block;
    }
}

@media screen and (min-width: 641px) {
    .search-toggle-button {
        display: none;
    }
}

.search-clear-button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    align-self: center;
}

/*----- search-box -----*/

.search-input-box {
    transition: border .15s ease, box-shadow .15s ease;
}