body.light {
    --badgeColor: #d2d3d5;
    --badgeBgColor: rgba(48, 48, 48, .95);
    --badgeActiveColor: #333333;
    --badgeActiveBgColor: rgba(255, 255, 255, .85);
}

body.dark {
    --badgeColor: #333333;
    --badgeBgColor: rgba(255, 255, 255, .85);
    --badgeActiveColor: #d2d3d5;
    --badgeActiveBgColor: rgba(48, 48, 48, .95);
}

.badge {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- badge-number -----*/

.badge-number {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge-number {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- badge-number -----*/

/*----- badge-checked -----*/

.badge-checked {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge-checked {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- badge-checked -----*/

.badge {
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    line-height: 1;
    font-size: .75em;
    font-weight: 700;
    /* padding: .2em .6em .3em .6em;
    font-size: .8em; */
    /* border-radius: .25rem; */
    /* padding: 5px 10px; */
    padding: .35em .65em;
    border-radius: .375rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.badge.round { 
    border-radius: 50rem;
}

/*----- badge-number -----*/

.badge-number {
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    line-height: 1;
    font-size: .75em;
    font-weight: 700;
    padding: .3em .51em;
    border-radius: 50rem;
    letter-spacing: .02em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.badge-number.sm {
    padding: .28em .49em;
    font-size: .65em;
}

/*----- badge-number -----*/

/*----- badge-checked -----*/

.badge-checked {
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    line-height: 1;
    font-size: .75em;
    font-weight: 700;
    padding: .3em .3em;
    border-radius: 50rem;
    letter-spacing: .02em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.badge-checked.sm {
    padding: .18em .3em;
}

.badge-checked.sm i {
    /* .fa-xs */
    font-size: .75em;
    line-height: .08333em;
    vertical-align: .125em;
}

/*----- badge-checked -----*/