body.light {
    --badgeColor: #d2d3d5;
    --badgeBgColor: rgba(48, 48, 48, .95);
    --badgeActiveColor: #333333;
    --badgeActiveBgColor: rgba(255, 255, 255, .85);
}

body.dark {
    --badgeColor: #333333;
    --badgeBgColor: rgba(255, 255, 255, .85);
    --badgeActiveColor: #d2d3d5;
    --badgeActiveBgColor: rgba(48, 48, 48, .95);
}

.badge {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- badge-circle -----*/

.badge-circle {
    color: var(--badgeColor);
    background-color: var(--badgeBgColor);
}

.board.active .badge-circle {
    color: var(--badgeActiveColor);
    background-color: var(--badgeActiveBgColor);
}

/*----- badge-circle -----*/

.badge {
    display: inline-block;
    align-self: center;
    box-sizing: border-box;
    line-height: 1;
    /* font-size: .75em; */
    font-size: .75rem;
    font-weight: 700;
    /* padding: .2em .6em .3em .6em;
    font-size: .8em; */
    /* border-radius: .25rem; */
    /* padding: 5px 10px; */
    padding: .35em .65em;
    border-radius: .375rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.badge.round { 
    border-radius: 50rem;
}

/*----- badge-circle -----*/

.badge-circle {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 50rem;
    min-width: 22px;
    height: 22px;
    font-weight: 700;
    white-space: nowrap;
    box-sizing: border-box;
    letter-spacing: .02em;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.badge-circle.sm {
    min-width: 20px;
    height: 20px;
}

.badge-circle-number {
    font-size: 15px;
    line-height: 15px;
    padding: 4.5px 6px 0px 6px;
}

.badge-circle-check {
    font-size: 15px;
    line-height: 15px;
    padding: 4.5px 0px 0px 0px;
}

.badge-circle-number.sm {
    font-size: 13px;
    line-height: 13px;
    padding-top: 3.3px;
}

.badge-circle-check.sm {
    font-size: 13px;
    line-height: 13px;
    padding-top: 3.3px;
}

/*----- badge-circle -----*/