<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vtuber - 資料統計</title>
    <link rel="shortcut icon" href="icon/favicon.ico" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- <link rel="stylesheet" href="https://cdn.statically.io/gh/fysh711426/MiniFormUI/master/layout.css" crossorigin="anonymous" /> -->
    <link rel="stylesheet" href="https://fysh711426.github.io/cdn/mini-form-ui/layout.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.statically.io/gh/fysh711426/fysh711426.github.io/master/cdn/vue.min.js"></script>
    <!-- <script src="https://cdn.statically.io/gh/fysh711426/MiniFormUI/master/layout.js" crossorigin="anonymous"></script> -->
    <script src="https://fysh711426.github.io/cdn/mini-form-ui/layout.js" crossorigin="anonymous"></script>
    <script src="functions.js"></script>
    <script src="title.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZKLLQXNS6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QZKLLQXNS6');
    </script>
</head>

<body>
    <div id="app" class="layout">
        <div class="header sticky">
            <div class="header-inner">
                <div class="start">
                    <div class="nav-button">
                        <button class="nav-button-d" onclick="$m.onNav()"><i class="fa fa-bars"></i></button>
                        <button class="nav-button-m" onclick="$m.onNavOpen()"><i class="fa fa-bars"></i></button>
                    </div>
                    <div class="nav-title nologo">
                        <span>Vtuber</span>
                    </div>
                </div>
                <div></div>
                <div class="end">
                    <div class="nav-link">
                        <a href="../about.html">關於本站</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="left-menu active">
                <div class="left-menu-inner">
                    <a href="?m=popular" select-val="popular" class="left-menu-item">
                        <!-- <i class="fa-brands fa-hotjar fa-fw"></i></i> -->熱度排行</a>
                    <a href="?m=subscribe" select-val="subscribe" class="left-menu-item">
                        <!-- <i class="fa-solid fa-bell fa-fw"></i> -->訂閱排行</a>
                    <a href="?m=singing" select-val="singing" class="left-menu-item">
                        <!-- <i class="fa-solid fa-microphone fa-fw"></i> -->歌回影片</a>
                    <a href="?m=growing" select-val="growing" class="left-menu-item">
                        <!-- <i class="fa-solid fa-chart-line fa-fw"></i> -->本周成長</a>
                    <a href="?m=newcomer" select-val="newcomer" class="left-menu-item">
                        <!-- <i class="fa-solid fa-user-group fa-fw"></i> -->本月新人</a>
                </div>
            </div>
            <div class="left-menu-mask" onclick="$m.onNavClose()"></div>
            <div class="main">
                <div class="main-inner">
                    <div class="sub-menu">
                        <div class="sub-menu-inner">
                            <a :href="'?m='+menu+'&s=tw'" select-val="tw" class="sub-menu-item">台灣</a>
                            <a :href="'?m='+menu+'&s=hololive'" select-val="hololive" class="sub-menu-item">Hololive</a>
                            <a :href="'?m='+menu+'&s=anycolor'" select-val="anycolor" class="sub-menu-item">彩虹社</a>
                            <a :href="'?m='+menu+'&s=other'" select-val="other" class="sub-menu-item">其他</a>
                        </div>
                    </div>
                    <div v-if="isLoaded" class="board">
                        <div class="board-header">
                            <span v-if="menu == 'popular'">
                                <i class="fa-brands fa-hotjar"></i>
                                熱度排行
                            </span>
                            <span v-if="menu == 'subscribe'">
                                <i class="fa-solid fa-bell"></i>
                                訂閱排行
                            </span>
                            <span v-if="menu == 'singing'">
                                <i class="fa-solid fa-microphone"></i>
                                歌回影片
                            </span>
                            <span v-if="menu == 'growing'">
                                <i class="fa-solid fa-chart-line"></i>
                                本周成長
                            </span>
                            <span v-if="menu == 'newcomer'">
                                <i class="fa-solid fa-user-group"></i>
                                本月新人
                            </span>
                            <a v-if="showDay" :href="'?m='+menu+'&s='+submenu+'&d=7'" class="day left" :class="{ active: day==7 }">7天</a>
                            <a v-if="showDay" :href="'?m='+menu+'&s='+submenu+'&d=30'" class="day right" :class="{ active: day==30 }">30天</a>
                        </div>
                        <table>
                            <thead>
                                <tr v-if="datas.length > 0">
                                    <th class="rank">#</th>
                                    <th class="logo"></th>
                                    <th class="name">名稱</th>
                                    <th class="score">
                                        <span v-if="menu == 'popular'">熱度
                                            <span class="tooltip" content="影片觀看中位數">
                                                <i class="fa-regular fa-circle-question"></i>
                                            </span>
                                        </span>
                                        <span v-if="menu == 'singing'">觀看
                                            <span class="tooltip" content="最高觀看歌回影片">
                                                <i class="fa-regular fa-circle-question"></i>
                                            </span>
                                        </span>
                                        <span v-if="menu == 'subscribe'">訂閱
                                            <span class="tooltip" content="30日訂閱排行">
                                                <i class="fa-regular fa-circle-question"></i>
                                            </span>
                                        </span>
                                        <span v-if="menu == 'growing'">成長
                                            <span class="tooltip" content="訂閱成長率">
                                                <i class="fa-regular fa-circle-question"></i>
                                            </span>
                                        </span>
                                        <span v-if="menu == 'newcomer'">訂閱
                                            <span class="tooltip" content="頻道訂閱數">
                                                <i class="fa-regular fa-circle-question"></i>
                                            </span>
                                        </span>
                                    </th>
                                    <th class="video">影片</th>
                                </tr>
                                <tr v-if="datas.length == 0">
                                    <th colspan="5" class="row-empty">查無資料</th>
                                </tr>
                            </thead>
                            <tbody v-if="datas.length > 0">
                                <tr v-for="item in datas" :key="item.channelUrl">
                                    <td class="rank">
                                        <span>{{item.rank}}</span>
                                        <div v-if="showRankVar">
                                            <div v-if="item.rankVar > 0" class="rank-var up">
                                                <i class="fa-solid fa-angle-up"></i>
                                                <span>{{item.rankVar}}</span>
                                            </div>
                                            <div v-if="item.rankVar < 0" class="rank-var down">
                                                <i class="fa-solid fa-chevron-down"></i>
                                                <span>{{item.rankVar * -1}}</span>
                                            </div>
                                            <div v-if="item.rankVar == 0" class="rank-var desh">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                            <div v-if="item.rankVar == null" class="rank-var new">
                                                <span>New</span>
                                            </div>
                                        </div>
                                        <div v-if="!showRankVar">
                                            <div class="rank-var desh">
                                                <i class="fa-solid fa-minus"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="logo">
                                        <a :href="item.channelUrl" target="_blank">
                                            <div class="logo-warp">
                                                <img :src="item.thumbnail" />
                                            </div>
                                        </a>
                                    </td>
                                    <td class="name">
                                        <div class="name-warp">
                                            <span :title="item.name">{{item.name}}</span>
                                        </div>
                                        <div class="tag">
                                            <span>{{item.subscribe}}</span><span>訂閱</span>
                                        </div>
                                    </td>
                                    <td class="score">
                                        <span>{{item.score}}</span><span v-if="menu == 'growing'">%</span>
                                    </td>
                                    <td class="video">
                                        <a v-if="item.videoViewCount != '0'" :href="item.videoUrl" :title="item.videoTitle" target="_blank">
                                            <div class="video-warp">
                                                <img :src="item.videoThumbnail" />
                                                <div class="video-mask"></div>
                                                <div class="video-view">
                                                    <i class="fa-solid fa-play"></i>
                                                    <span>{{item.videoViewCount}}</span>
                                                </div>
                                            </div>
                                            <div class="video-link">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="footer">
                <div class="footer-inner">
                    footer
                </div>
            </div> -->
            <div class="tooltip-template">
                <div class="tooltip-block __class__">
                    <div class="tooltip-inner">__content__</div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>