body.light {
    --modalColor: #262626;
    --modalBgColor: #fff;
    --modalShadow: 0px 8px 12px 0px #00000014,0px 0px 1px 0px #0000009e;
    /* --modalShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%); */
    --modalBackdropBgColor: rgba(255, 255, 255, .5);
    /* --modalBackdropBgColor: rgba(0, 0, 0, .3); */
    --modalSeparatorBgColor: #0d0d0d1a;
}

body.dark {
    --modalColor: #d2d3d5;
    /* --modalBgColor: #212121; */
    --modalBgColor: #303030;
    --modalShadow: 0px 8px 16px 0px #00000052,inset 0px 0px 1px 0px #fff3,0px 0px 1px 0px #0000009e;
    /* --modalShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%); */
    --modalBackdropBgColor: rgba(0, 0, 0, .5);
    /* --modalBackdropBgColor: rgba(0, 0, 0, .3); */
    --modalSeparatorBgColor: #ffffff26;
}

.modal-backdrop {
    background-color: var(--modalBackdropBgColor);
}

.modal-block {
    color: var(--modalColor);
    background-color: var(--modalBgColor);
    box-shadow: var(--modalShadow);
}

.modal-scrollable {
    scrollbar-color: var(--scrollbarColor) transparent;
}

.modal-scrollable:hover {
    scrollbar-color: var(--scrollbarHoverColor) transparent;
}

.modal-block .separator {
    background-color: var(--modalSeparatorBgColor);
}

.modal-template {
    display: none;
}

.modal-backdrop {
    position: fixed;
    inset: 0;
    outline: 0;
    /* pointer-events: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    z-index: 200000;
}

.modal {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 640px) {
    .modal {
        grid-template-rows: minmax(10px, 1fr) auto minmax(10px, 1fr);
    }
}

@media screen and (min-width: 641px) {
    .modal {
        grid-template-rows: minmax(20px, 0.8fr) auto minmax(20px, 1fr);
    }
}

.modal-popover {
    z-index: 240000;
}

.modal-tooltip {
    z-index: 260000;
}

.modal-block {
    display: flex;
    flex-direction: column;
    /* border-radius: 1rem; */
    border-radius: .6rem;
    pointer-events: auto;
    border: 0 solid;
    /* border-top: 1px solid rgb(60, 60, 60, .12); */
    /* max-width: 32rem; */
    width: 100%;
    grid-row: auto;
    grid-column: auto;
    grid-row-start: 2;
    grid-column-start: 2;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* @media screen and (max-width: 640px) {
    .modal-block {
        margin: 10px;
    }
}

@media screen and (min-width: 641px) {
    .modal-block {
        margin: 20px;
    }
} */

.modal-scrollable {
    overflow-y: auto;
    flex-grow: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    /* padding: 15px 20px 15px 20px; */
    padding: 12px 12px 12px 20px;
}

.modal-header .start {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

.modal-header .end {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0;
}

.modal-header-title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modal-body {
    padding: 0px 20px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.modal-body.first {
    margin-top: 15px;
}

.modal-footer {
    /* display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; */
    /* padding: 15px 20px; */
    padding: 15px;
}

.modal-footer-scrollable {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1px;
}

.modal-footer .start {
    display: flex;
    align-items: center;
}

.modal-footer .end {
    display: flex;
    align-items: center;
}

.modal-footer .start .modal-button,
.modal-footer .start .modal-button-o {
    margin-right: 10px;
}

.modal-footer .end .modal-button,
.modal-footer .end .modal-button-o {
    margin-left: 10px;
}

.modal-footer .start .modal-button.last,
.modal-footer .start .modal-button-o.last {
    margin-right: 0px;
}

.modal-footer .end .modal-button.first,
.modal-footer .end .modal-button-o.first {
    margin-left: 0px;
}

.modal-block .separator {
    height: 1px;
    margin: 5px 20px;
    /* transform: scaleY(1.2); */
    transform: scaleY(1.5);
}

.modal-form {
    font-family: "Segoe UI", "Microsoft JhengHei";
    padding: 0px 20px;
    margin-bottom: 15px;
}

.modal-form.first {
    margin-top: 15px;
}

.modal-form.last {
    margin-bottom: 0px;
}

.modal-form.first .form-field-input-only-wrap {
    margin-top: 20px;
}

.modal-block {
    max-width: 640px;
}

.modal-sm .modal-block {
    max-width: 480px;
}

.modal-xs .modal-block {
    max-width: 360px;
}

.modal-lg .modal-block {
    max-width: 720px;
}

.modal-xl .modal-block {
    max-width: 1080px;
}

.modal-backdrop {
    animation: .25s cubic-bezier(.4, 0, .2, 1) modalSlideDownAndFade;
}

@keyframes modalSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}