body.light {
    /*----- action-menu -----*/
    --actionMenuColor: #262626;
    --actionMenuBgColor: #fff;
    --actionMenuShadow: 0px 8px 12px 0px #00000014,0px 0px 1px 0px #0000009e;
    --actionMenuHoverBgColor: #f5f5f5;
    --actionMenuActiveBgColor: #f0f0f0;
    --actionMenuDangerColor: #e02e2a;
    --actionMenuDangerHoverBgColor: #e02e2a13;
    --actionMenuDangerActiveBgColor: #e02e2a1f;
    --actionMenuDangerOpenBgColor: #e02e2a0f;
    /*----- action-menu -----*/

    --actionMenuSeparatorBgColor: #0d0d0d1a;

    /*----- action-menu-01 -----*/
    --actionMenuColor01: #0d0d0d;
    --actionMenuBgColor01: #ffffff;
    --actionMenuShadow01: 0px 8px 12px 0px #00000014,0px 0px 1px 0px #0000009e;
    --actionMenuHoverBgColor01: #f5f5f5;
    --actionMenuActiveBgColor01: #f0f0f0;
    /*----- action-menu-01 -----*/

    /*----- action-menu-02 -----*/
    --actionMenuColor02: #0f0f0f;
    --actionMenuBgColor02: #ffffff;
    --actionMenuShadow02: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
    --actionMenuHoverBgColor02: #f2f2f2;
    --actionMenuActiveBgColor02: #d7d7d7;
    /*----- action-menu-02 -----*/
}

body.dark {
    /*----- action-menu -----*/
    --actionMenuColor: #d2d3d5;
    --actionMenuBgColor: #353535;
    --actionMenuShadow: 0px 8px 16px 0px #00000052,inset 0px 0px 1px 0px #fff3,0px 0px 1px 0px #0000009e;
    --actionMenuHoverBgColor: #4a4a4a;
    --actionMenuActiveBgColor: #3f3f3f;
    --actionMenuDangerColor: #ff8583;
    --actionMenuDangerHoverBgColor: #e02e2a23;
    --actionMenuDangerActiveBgColor: #e02e2a2f;
    --actionMenuDangerOpenBgColor: #e02e2a16;
    /*----- action-menu -----*/

    --actionMenuSeparatorBgColor: #ffffff26;

    /*----- action-menu-01 -----*/
    --actionMenuColor01: #ffffff;
    --actionMenuBgColor01: #353535;
    --actionMenuShadow01: 0px 8px 16px 0px #00000052,inset 0px 0px 1px 0px #fff3,0px 0px 1px 0px #0000009e;
    --actionMenuHoverBgColor01: #4a4a4a;
    --actionMenuActiveBgColor01: #3f3f3f;
    /*----- action-menu-01 -----*/

    /*----- action-menu-02 -----*/
    --actionMenuColor02: #f1f1f1;
    --actionMenuBgColor02: #282828;
    --actionMenuShadow02: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
    --actionMenuHoverBgColor02: #3e3e3e;
    --actionMenuActiveBgColor02: #535353;
    /*----- action-menu-02 -----*/
}

/*----- action-menu -----*/

.action-menu {
    background-color: var(--actionMenuBgColor);
    box-shadow: var(--actionMenuShadow);
}

.action-menu-item {
    color: var(--actionMenuColor);
}

.action-menu-item:hover {
    background-color: var(--actionMenuHoverBgColor);
}

.action-menu-item:active {
    background-color: var(--actionMenuActiveBgColor);
}

.action-menu-item.danger {
    color: var(--actionMenuDangerColor);
}

.action-menu-item.danger:hover {
    background-color: var(--actionMenuDangerHoverBgColor);
}

.action-menu-item.danger:active {
    background-color: var(--actionMenuDangerActiveBgColor);
}

.action-menu-block .separator {
    background-color: var(--actionMenuSeparatorBgColor);
}

/*----- popover-menu-style -----*/

/*----- popover-menu-style -----*/

.action-menu-template {
    display: none;
}

.action-menu-block {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 140000;
}

.action-menu {
    line-height: 1.5;
    min-width: max-content;
    outline: none;
    user-select: none;
    border-radius: 1rem;
    padding: 8px 0;
    border: 0 solid;
    will-change: opacity, transform;
}

.action-menu-item {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 8px;
    padding: 8px 36px 8px 12px;
    font-size: 0.9rem;
    font-weight: 700;
}

.action-menu-item.selected {
    padding-right: 12px;
}

.action-menu-item-icon {
    margin-right: 12px;
    flex: none;
}

.action-menu-item-text {
    flex: 1;
    flex-basis: 0.000000001px;
    white-space: nowrap;
    -webkit-font-smoothing: initial;
}

.action-menu-item-trailing {
    display: none;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    margin-left: 24px;
}

.action-menu-item.selected .action-menu-item-trailing {
    display: flex;
}

.action-menu-block .separator {
    height: 1px;
    margin: 5px 20px;
    transform: scaleY(1.2);
}

/*----- action-menu -----*/

.action-menu {
    animation: .2s cubic-bezier(.16, 1, .3, 1) actionMenuSlideDownAndFade;
}

@keyframes actionMenuSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}