body.light {
    /*----- tooltip-style -----*/
    --popoverBgColor: #fff;
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    /*----- tooltip-style -----*/
}

body.dark {
    /*----- tooltip-style -----*/
    --popoverBgColor: #404040;
    --popoverBorderColor: #454545;
    --popoverShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    /*----- tooltip-style -----*/
}

/*----- tooltip-style -----*/

.popover-inner {
    background-color: var(--popoverBgColor);
    border-color: var(--popoverBorderColor);
    box-shadow: var(--popoverShadow);
}

.popover-template {
    display: none;
}

.popover-block {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 140000;
}

.popover-inner {
    font-size: .9rem;
    line-height: 1.5;
    padding: 10px 15px 10px 15px;
    max-width: 250px;
    /* border-radius: .35rem; */
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    word-wrap: break-word;
    word-break: break-all;
}

/*----- tooltip-style -----*/