/*----- file-item -----*/

.file-item.board.active {
    color: var(--fileItemActiveColor);
    background-color: var(--fileItemActiveBgColor);
}

.file-item.board.active.hover:hover {
    color: var(--fileItemActiveColor);
    background-color: var(--fileItemActiveBgColor);
}

/*----- file-item-icon -----*/

a .file-item-icon {
    color: var(--fileIconColor);
}

a:hover .file-item-icon {
    color: var(--fileIconHoverColor);
}

.file-item.board.active .file-item-icon {
    color: var(--fileItemActiveIconColor);
}

.file-item.board.active.hover:hover .file-item-icon {
    color: var(--fileItemActiveIconColor);
}

/*----- file-item-icon -----*/

/*----- file-item-description -----*/

.file-item-description {
    color: var(--fileDescriptionColor);
}

.file-item.board.active .file-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

.file-item.board.active.hover:hover .file-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

/*----- file-item-description -----*/

/*----- file-item-sub-title -----*/

.file-item-sub-title {
    color: var(--fileDescriptionColor);
}

.file-item.board.active .file-item-sub-title {
    color: var(--fileItemActiveDescriptionColor)
}

.file-item.board.active.hover:hover .file-item-sub-title {
    color: var(--fileItemActiveDescriptionColor)
}

/*----- file-item-sub-title -----*/

/*----- file-item -----*/

/*----- file-item -----*/

.file-item {
    display: flex;
    align-items: center;
    border-top: none;
}

.file-item-icon {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

.file-item-text {
    align-self: center;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width: 640px) {
    .file-item {
        padding: 15px 15px;
    }

    .file-item-text {
        padding: 0px 15px;
    }
}

@media screen and (min-width: 641px) {
    .file-item {
        padding: 15px 20px;
    }

    .file-item-text {
        padding: 0px 20px;
    }
}

.file-item-title {
    align-self: center;
    padding: 0px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.file-item-description {
    align-self: center;
    padding-top: 5px;
    font-size: 0.9rem;
    /* line-height: 0.9rem; */
    line-height: 1.5;
    font-weight: 500;
}

.file-item-description {
    display: flex;
    align-items: center;
}

.file-item-description.sm {
    font-size: .8rem;
    font-weight: 700;
}

.file-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
    /* padding-top: 8px;
    padding-bottom: 3px; */
    padding-top: 5px;
    padding-bottom: 0px;
}

.file-item-sub-title-icon {
    margin-right: 3px;
}

/*----- file-item -----*/