body {
    /* S */
    --fileImageItemWidth_S: 120px;
    /*--fileImageItemHeight_S: 67.5px;*/
    --fileImageItemHeight_S: 90px;

    /* M */
    --fileImageItemWidth_M: 150px;
    /*--fileImageItemHeight_M: 84.375px;*/
    --fileImageItemHeight_M: 112.5px;

    /* L */
    --fileImageItemWidth_L: 200px;
    --fileImageItemHeight_L: 112.5px;
    /*--fileImageItemHeight_L: 150px;*/

    /* S */
    --fileImageItemOverWidth_S: 200px;
    /*--fileImageItemOverHeight_S: 112.5px;*/
    --fileImageItemOverHeight_S: 150px;

    /* M */
    --fileImageItemOverWidth_M: 260px;
    /*--fileImageItemOverHeight_M: 146.25px;*/
    --fileImageItemOverHeight_M: 195px;

    /* L */
    --fileImageItemOverWidth_L: 320px;
    --fileImageItemOverHeight_L: 180px;
    /*--fileImageItemOverHeight_L: 240px;*/
}

body.light {
    --fileImageItemFloatingBadgeColor: #fff;
    --fileImageItemFloatingBadgeBgColor: #00000099;
    --fileImageItemFloatingBadgeActiveColor: #000;
    --fileImageItemFloatingBadgeActiveBgColor: #ffffff99;
}

body.dark {
    --fileImageItemFloatingBadgeColor: #000;
    --fileImageItemFloatingBadgeBgColor: #ffffff99;
    --fileImageItemFloatingBadgeActiveColor: #fff;
    --fileImageItemFloatingBadgeActiveBgColor: #00000099;
}

/*----- file-image-item -----*/

.file-image-item.board.active {
    color: var(--fileItemActiveColor);
    background-color: var(--fileItemActiveBgColor);
}

.file-image-item.board.active.hover:hover {
    color: var(--fileItemActiveColor);
    background-color: var(--fileItemActiveBgColor);
}

/*----- file-image-item-description -----*/

.file-image-item-description {
    color: var(--fileDescriptionColor);
}

.file-image-item.board.active .file-image-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

.file-image-item.board.active.hover:hover .file-image-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

/*----- file-image-item-description -----*/

/*----- file-image-item-sub-title -----*/

.file-image-item-sub-title {
    color: var(--fileDescriptionColor);
}

.file-image-item.board.active .file-image-item-sub-title {
    color: var(--fileItemActiveDescriptionColor);
}

.file-image-item.board.active.hover:hover .file-image-item-sub-title {
    color: var(--fileItemActiveDescriptionColor);
}

/*----- file-image-item-sub-title -----*/

.file-image-item-trailing .badge-circle-check {
    color: var(--badgeActiveColor);
    background-color: inherit;
}

.board.active .file-image-item-trailing .badge-circle-check {
    color: var(--badgeColor);
    background-color: inherit;
}

/*----- file-image-item -----*/

/*----- view-mode -----*/

@media screen and (max-width: 640px) {
    .view-mode .file-image-item-floating .badge-circle-number,
    .view-mode .file-image-item-floating .badge-circle-check {
        /* color: var(--fileImageItemFloatingBadgeColor); */
        background-color: var(--fileImageItemFloatingBadgeBgColor);
    }

    .view-mode .board.active .file-image-item-floating .badge-circle-number,
    .view-mode .board.active .file-image-item-floating .badge-circle-check {
        /* color: var(--fileImageItemFloatingBadgeActiveColor); */
        background-color: var(--fileImageItemFloatingBadgeActiveBgColor);
    }
}

/*----- view-mode -----*/

/*----- file-image-item -----*/

.file-image-item {
    display: flex;
    align-items: center;
    border-top: none;
}

.file-image-item.first {
    margin-top: 0px;
}

.file-image-item-text {
    flex: 1 0 0;
    align-self: center;
}

@media screen and (max-width: 640px) {
    .file-image-item {
        padding: 10px 10px;
    }

    .file-image-item-text {
        padding: 0px 10px;
    }
}

@media screen and (min-width: 641px) {
    .file-image-item {
        padding: 10px 10px;
        /* padding-right: 10px; */
        padding-right: 15px;
    }

    .file-image-item-text {
        padding: 0px 15px;
    }
}

.file-image-item-icon {
    display: flex;
    align-items: center;
    align-self: center;
    background-color: #181818;
    flex-shrink: 0;
    position: relative;
    /* border-radius: .15rem; */
    border-radius: 3px;
    overflow: hidden;
}

.file-image-item-icon img,
.file-image-item-icon video
 {
    display: block;
    align-self: center;
    width: auto;
    height: auto;
    margin: auto;
}

.file-image-item-icon img[loading="lazy"]:not([data-loaded]) {
    width: 120px;
    height: 90px;
    opacity: 0;
}

.file-image-item-icon img {
    opacity: 1;
}

.file-image-item-icon .preview {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.file-image-item-icon .hide {
    visibility: hidden;
}

@media screen and (max-width: 640px) {
    .file-image-item-icon {
        width: var(--fileImageItemWidth_S);
        height: var(--fileImageItemHeight_S);
    }

    .file-image-item-icon img {
        max-width: var(--fileImageItemWidth_S);
        max-height: var(--fileImageItemHeight_S);
    }

    .file-image-item-icon video {
        max-width: var(--fileImageItemWidth_S);
        max-height: var(--fileImageItemHeight_S);
    }
}

@media screen and (min-width: 641px) {
    .file-image-item-icon {
        width: var(--fileImageItemWidth_M);
        height: var(--fileImageItemHeight_M);
    }

    .file-image-item-icon img {
        max-width: var(--fileImageItemWidth_M);
        max-height: var(--fileImageItemHeight_M);
    }

    .file-image-item-icon video {
        max-width: var(--fileImageItemWidth_M);
        max-height: var(--fileImageItemHeight_M);
    }
}

@media screen and (min-width: 1025px) {
    .file-image-item-icon {
        width: var(--fileImageItemWidth_L);
        height: var(--fileImageItemHeight_L);
    }

    .file-image-item-icon img {
        max-width: var(--fileImageItemWidth_L);
        max-height: var(--fileImageItemHeight_L);
    }

    .file-image-item-icon video {
        max-width: var(--fileImageItemWidth_L);
        max-height: var(--fileImageItemHeight_L);
    }
}

@media screen and (max-width: 640px) {
    .file-image-item-icon.over {
        width: var(--fileImageItemOverWidth_S);
        height: var(--fileImageItemOverHeight_S);
    }

    .file-image-item-icon.over img {
        max-width: var(--fileImageItemOverWidth_S);
        max-height: var(--fileImageItemOverHeight_S);
    }

    .file-image-item-icon.over video {
        max-width: var(--fileImageItemOverWidth_S);
        max-height: var(--fileImageItemOverHeight_S);
    }
}

@media screen and (min-width: 641px) {
    .file-image-item-icon.over {
        width: var(--fileImageItemOverWidth_M);
        height: var(--fileImageItemOverHeight_M);
    }

    .file-image-item-icon.over img {
        max-width: var(--fileImageItemOverWidth_M);
        max-height: var(--fileImageItemOverHeight_M);
    }

    .file-image-item-icon.over video {
        max-width: var(--fileImageItemOverWidth_M);
        max-height: var(--fileImageItemOverHeight_M);
    }
}

@media screen and (min-width: 1025px) {
    .file-image-item-icon.over {
        width: var(--fileImageItemOverWidth_L);
        height: var(--fileImageItemOverHeight_L);
    }

    .file-image-item-icon.over img {
        max-width: var(--fileImageItemOverWidth_L);
        max-height: var(--fileImageItemOverHeight_L);
    }

    .file-image-item-icon.over video {
        max-width: var(--fileImageItemOverWidth_L);
        max-height: var(--fileImageItemOverHeight_L);
    }
}

.file-image-item-title {
    align-self: center;
    padding: 0px;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
}

.file-image-item-description {
    align-self: center;
    padding-top: 5px;
    font-size: 0.9rem;
    /* line-height: 0.9rem; */
    line-height: 1.5;
    font-weight: 500;
}

.file-image-item-description {
    display: flex;
    align-items: center;
}

.file-image-item-description.sm {
    font-size: .8rem;
    font-weight: 700;
}

.file-image-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
    /* padding-top: 8px;
    padding-bottom: 3px; */
    padding-top: 5px;
    padding-bottom: 0px;
}

.file-image-item-sub-title-icon {
    margin-right: 3px;
}

.file-image-item-trailing {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
    white-space: nowrap;
}

/* .file-image-item-container {
    display: flex;
    align-items: center;
    align-self: center;
    flex: 1 0 0;
} */

.file-image-item-floating {
    display: none;
}

.file-image-item-trailing .badge-circle-check {
    font-size: 16px;
    line-height: 16px;
}

@media screen and (max-width: 480px) {
    /*----- .badge-circle.sm -----*/
    .file-image-item-trailing .badge-circle,
    .file-image-item-floating .badge-circle {
        min-width: 20px;
        height: 20px;
    }
    /*----- .badge-circle.sm -----*/

    /*----- .badge-circle-number.sm -----*/
    .file-image-item-trailing .badge-circle-number,
    .file-image-item-floating .badge-circle-number {
        font-size: 13px;
        line-height: 13px;
        padding-top: 3.3px;
    }
    /*----- .badge-circle-number.sm -----*/

    /*----- .badge-circle-check.sm -----*/
    .file-image-item-trailing .badge-circle-check {
        font-size: 14px;
        line-height: 14px;
        padding-top: 3.3px;
    }
    .file-image-item-floating .badge-circle-check {
        font-size: 13px;
        line-height: 13px;
        padding-top: 3.3px;
    }
    /*----- .badge-circle-check.sm -----*/
}

/*----- file-image-item -----*/

/*----- view-mode -----*/

@media screen and (max-width: 480px) {
    .view-mode .file-image-item {
        flex-direction: column;
        padding: 10px;
    }

    .view-mode .file-image-item-icon {
        width: 100%;
        max-width: 100%;
        padding-top: 56.25%;
        position: relative;
        height: inherit;
        overflow: hidden;
        /* border-radius: .35rem; */
        border-radius: 7px;
    }

    .view-mode .file-image-item-icon img,
    .view-mode .file-image-item-icon video {
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .view-mode .file-image-item-icon.over {
        width: 100%;
        height: inherit;
    }

    .view-mode .file-image-item-icon.over img,
    .view-mode .file-image-item-icon.over video {
        max-width: 100%;
        max-height: 100%;
    }
    
    .view-mode .file-image-item-text {
        align-self: start;
        padding: 10px 5px 0px 5px;
    }

    .view-mode .file-image-item-trailing {
        display: none;
    }

    .view-mode .file-image-item-floating {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}

/*----- view-mode -----*/

.file-image-item-icon {
    transition: width .8s, height .8s;
}

.file-image-item-icon img {
    transition: max-width .8s, max-height .8s, opacity .2s ease-in-out;
}

.file-image-item-icon video {
    transition: max-width .8s, max-height .8s;
}