body.light {
    --bookmarkItemHoverBgColor: #f5f5f5;
}

body.dark {
    --bookmarkItemHoverBgColor: #383838;
}

/*----- bookmark-item -----*/

@media screen and (min-width: 1025px) {
    .bookmark-group a:hover {
        color: var(--linkHoverColor);
    }

    a.bookmark-group-title-text:hover {
        color: var(--linkHoverColor);
    }
}

/*----- bookmark-item -----*/

/*----- bookmark-item -----*/

.bookmark-item {
    background-color: var(--checkboxWrapColor);
    border-color: var(--checkboxWrapBorderColor);
}

.bookmark-item.hover:hover {
    /* background-color: var(--boardHoverColor); */
    background-color: var(--bookmarkItemHoverBgColor);
}

.bookmark-item.active,
.bookmark-item.active.hover:hover {
    background-color: var(--fileItemActiveBgColor);
}

.bookmark-item.active {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active.hover:hover {
    color: var(--fileItemActiveColor);
}

.bookmark-item .bookmark-item-icon {
    color: var(--fileIconColor);
}

.bookmark-item:hover .bookmark-item-icon {
    color: var(--fileIconHoverColor);
}

.bookmark-item.active .bookmark-item-icon {
    color: var(--fileItemActiveIconColor);
}

.bookmark-item.active.hover:hover .bookmark-item-icon {
    color: var(--fileItemActiveIconColor);
}

.bookmark-item-description {
    color: var(--fileDescriptionColor);
}

.bookmark-item.active .bookmark-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active.hover:hover .bookmark-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item-sub-title {
    color: var(--fileDescriptionColor);
}

.bookmark-item.active .bookmark-item-sub-title {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active.hover:hover .bookmark-item-sub-title {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active a {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active.hover:hover a {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active a:hover {
    color: var(--fileItemActiveLinkHoverColor);
}

.bookmark-item.active.hover:hover a:hover {
    color: var(--fileItemActiveLinkHoverColor);
}

/*----- bookmark-item -----*/

/*----- bookmark-group -----*/

.bookmark-group-title {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bookmark-group-title .start {
    display: flex;
    align-items: center;
}

.bookmark-group-title .end {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .bookmark-group-title .end {
        padding-right: 10px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-group-title .end {
        padding-right: 15px;
    }
}

.bookmark-group-title-text {
    font-weight: 700;
    padding: 0 10px;
}

.bookmark-group-title-text,
.bookmark-item-text {
    word-wrap: break-word;
    word-break: break-all;
}

.bookmark-group-children {
    /*padding-top: 5px;*/
    padding-top: 15px;
}

.bookmark-group .bookmark-group-children {
    display: none;
}

.bookmark-group.open .bookmark-group-children {
    display: block;
}

.bookmark-group .expand {
    display: none;
}

.bookmark-group.open .expand {
    display: inline;
}

.bookmark-group .collapse {
    display: inline;
}

.bookmark-group.open .collapse {
    display: none;
}

/*----- bookmark-group -----*/

/*----- bookmark-item -----*/

.bookmark-item {
    display: flex;
    align-items: center;
    border-radius: .35rem;
    /*border-radius: 5px;*/ 
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin: 10px auto;
    cursor: pointer;
}

.bookmark-item.first {
    margin-top: 0px;
}

.bookmark-item.last {
    margin-bottom: 0px;
}

.bookmark-item-icon {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

.bookmark-item-text {
    align-self: center;
}

@media screen and (max-width: 640px) {
    .bookmark-item {
        padding: 10px;
    }

    .bookmark-item-text {
        padding: 0 10px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-item {
        padding: 10px 15px;
    }

    .bookmark-item-text {
        padding: 0 15px;
    }
}

.bookmark-item-title {
    align-self: center;
    padding: 0;
    font-weight: 700;
}

.bookmark-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 0px;
}

.bookmark-item-sub-title-icon {
    margin-right: 3px;
}

.bookmark-item-description {
    align-self: center;
    font-size: .9rem;
    line-height: 1.5;
    font-weight: 500;
    padding-top: 0px;
}

.bookmark-item-description {
    display: flex;
    align-items: center;
}

.bookmark-item-description.sm {
    font-size: .8rem;
    font-weight: 700;
}

.bookmark-item-link {
    margin-left: auto;
}

.bookmark-item-menu-button {
    margin-left: 15px;
}

/*----- bookmark-item -----*/

/*----- board-toolbar -----*/

.board-toolbar {
    display: flex;
    justify-content: space-between;
}

.board-toolbar-scrollable {
    overflow-x: auto;
    scrollbar-width: none;
}

.board-toolbar .start {
    display: flex;
    align-items: center;
}

.board-toolbar .end {
    display: flex;
    align-items: center;
}

.board-toolbar .button {
    font-size: .9rem;
}

.board-toolbar .start .button {
    margin-right: 10px;
}

.board-toolbar .end .button {
    margin-left: 10px;
}

/*----- board-toolbar -----*/

.bookmark-group-children {
    animation: .2s cubic-bezier(.16, 1, .3, 1) bookmarkSlideDownAndFade;
}

@keyframes bookmarkSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}