/*----- text-theme -----*/

body.text-dark {
    --popoverBgColor: #404040;
    --popoverBorderColor: #454545;
    --popoverShadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    --dropdownMenuColor: #d2d3d5;
    --dropdownMenuHoverBgColor: #555555;
    --dropdownMenuActiveBgColor: #4a4a4a;
}

body.text-dark-blue {
    --popoverBgColor: hsl(213, 27%, 22%);
    --popoverBorderColor: hsl(213, 27%, 24%);
    --popoverShadow: 0 12px 15px 0 rgb(17 22 29 / 24%), 0 17px 50px 0 rgb(17 22 29 / 19%);
    --dropdownMenuColor: hsl(210, 17%, 87%);
    --dropdownMenuHoverBgColor: hsl(213, 27%, 30%);
    --dropdownMenuActiveBgColor: hsl(213, 27%, 26%);
}

body.text-light {
    --popoverBgColor: #fff;
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --dropdownMenuColor: #262626;
    --dropdownMenuHoverBgColor: #f5f5f5;
    --dropdownMenuActiveBgColor: #f0f0f0;
}

body.text-gray {
    --popoverBgColor: hsl(240, 13%, 91%);
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --dropdownMenuColor: #262626;
    --dropdownMenuHoverBgColor: hsl(240, 13%, 87%);
    --dropdownMenuActiveBgColor: hsl(240, 13%, 85%);
}

body.text-yellow {
    --popoverBgColor: hsl(47, 92%, 95%);
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --dropdownMenuColor: #262626;
    --dropdownMenuHoverBgColor: hsl(47, 92%, 91%);
    --dropdownMenuActiveBgColor: hsl(47, 92%, 89%);
}

body.text-orange {
    --popoverBgColor: hsl(37, 92%, 95%);
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --dropdownMenuColor: #262626;
    --dropdownMenuHoverBgColor: hsl(37, 92%, 91%);
    --dropdownMenuActiveBgColor: hsl(37, 92%, 89%);
}

body.text-blue {
    --popoverBgColor: hsl(202, 67%, 95%);
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --dropdownMenuColor: #262626;
    --dropdownMenuHoverBgColor: hsl(202, 67%, 91%);
    --dropdownMenuActiveBgColor: hsl(202, 67%, 89%);
}

body.text-green {
    --popoverBgColor: hsl(146, 47%, 94%);
    --popoverBorderColor: #e6e6e6;
    --popoverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --dropdownMenuColor: #262626;
    --dropdownMenuHoverBgColor: hsl(146, 47%, 90%);
    --dropdownMenuActiveBgColor: hsl(146, 47%, 88%);
}

/*----- text-theme -----*/

/*----- bookmark-popover -----*/

.bookmark-popover-inner {
    background-color: var(--popoverBgColor);
    border-color: var(--popoverBorderColor);
    box-shadow: var(--popoverShadow);
}

.bookmark-popover-scrollable:hover {
    scrollbar-color: var(--scrollbarHoverColor) transparent;
}

.bookmark-popover-item {
    color: var(--dropdownMenuColor);
}

@media screen and (min-width: 1025px) {
    .bookmark-popover-item:hover {
        background-color: var(--dropdownMenuHoverBgColor);
    }

    .bookmark-popover-item:active {
        background-color: var(--dropdownMenuActiveBgColor);
    }
}

/*----- bookmark-popover -----*/

/*----- bookmark-popover -----*/

.bookmark-popover-template {
    display: none;
}

.bookmark-popover-block {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 140000;
}

.bookmark-popover-inner {
    display: flex;
    line-height: 1.5;
    padding: 8px 0;
    border-radius: 12px;
    /*max-width: 240px;
    width: 240px;*/
    max-width: 255px;
    width: 255px;
    max-height: 240px;
    border-width: 1px;
    border-style: solid;
    border-top: 1px solid rgb(60, 60, 60, .12);
}

.bookmark-popover-scrollable {
    overflow-y: auto;
    flex-grow: 1;
    overscroll-behavior: contain;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.bookmark-popover-item {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 8px;
    padding: 8px 12px 8px 12px;
    font-size: 1rem;
    font-weight: 700;
}

.bookmark-popover-item-text {
    flex: 1;
    flex-basis: 0px;
    word-break: normal;
    overflow-wrap: anywhere;
    text-wrap: pretty;
    -webkit-font-smoothing: initial;
}

.bookmark-popover-item-trailing {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 12px;
}

/*----- bookmark-popover -----*/

/*----- image-main -----*/

.image-main .bookmark-popover-inner {
    background-color: #404040;
    border-color: #454545;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}

.image-main .bookmark-popover-scrollable:hover {
    scrollbar-color: #fff3 transparent;
}

.image-main .bookmark-popover-item {
    color: #d2d3d5;
}

@media screen and (min-width: 1025px) {
    .image-main .bookmark-popover-item:hover {
        background-color: #555555;
    }

    .image-main .bookmark-popover-item:active {
        background-color: #4a4a4a;
    }
}

/*----- image-main -----*/

.bookmark-popover-inner {
    will-change: opacity, transform;
    animation: .2s cubic-bezier(.16, 1, .3, 1) bookmarkPopoverSlideDownAndFade;
}

@keyframes bookmarkPopoverSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px); 
    }

    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}