/*  
z-index
    file-navbar.sticky = 10000
    file-navbar.over = 20000
    file-image-block.over = 15000
    file-text-content.over = 15000
    file-navbar-title = 25000
    file-video < 1024px = 30000
    file-image-nav = 16000
    file-image-content < 1024px = 15000
    control = 100000
    popover = 140000
    tooltip = 160000
    modal = 200000
    modal-popover = 240000
    modal-tooltip = 260000
    toast = 300000
*/

/*----- font-awesome -----*/

.fa-fw {
    width: 1em;
}

/*----- font-awesome -----*/

/*----- file-main -----*/

@media screen and (max-width: 1330px) {
    .file-main .file-item {
        margin-left: 3px;
        margin-right: 3px;
    }

    .file-main .file-image-item {
        margin-left: 3px;
        margin-right: 3px;
    }
}

/*----- file-main -----*/

/*----- file-image-block -----*/

.file-image-block.over {
    position: sticky;
    z-index: 15000;
}

.file-image-block img[loading="lazy"]:not([data-loaded]) {
    height: 320px;
    opacity: 0;
}

.file-image-block img {
    opacity: 1;
}

/*.file-image-block img {
    margin: 0 auto;
}*/

.file-image-block .image-wrap {
    margin: 0 auto;
    position: relative;
}

.file-image-block .image-wrap.scale100 {
    width: 100%;
}

.file-image-block .image-wrap.scale75 {
    width: 75%;
}

.file-image-block .image-wrap.scale50 {
    width: 50%;
}

.file-image-block .image-wrap.scale25 {
    width: 25%;
}

.file-image-block-floating {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
}

@media screen and (max-width: 480px) {
    .file-image-block-floating {
        top: 5px;
        right: 5px;
    }
}

@media screen and (max-width: 480px) {
    /*----- .badge-circle.sm -----*/
    .file-image-block-floating .badge-circle {
        min-width: 20px;
        height: 20px;
    }
    /*----- .badge-circle.sm -----*/

    /*----- .badge-circle-number.sm -----*/
    .file-image-block-floating .badge-circle-number {
        font-size: 13px;
        line-height: 13px;
        padding-top: 3.3px;
    }
    /*----- .badge-circle-number.sm -----*/

    /*----- .badge-circle-check.sm -----*/
    .file-image-block-floating .badge-circle-check {
        font-size: 13px;
        line-height: 13px;
        padding-top: 3.3px;
    }
    /*----- .badge-circle-check.sm -----*/
}

.file-main .main-inner:has(> .file-navbar:not(.over)) .file-image-block-floating {
    display: none;
}

.file-image-block .image-wrap:has(> img:not([data-loaded])) .file-image-block-floating {
    display: none;
}

/*----- file-image-block -----*/

/*----- file-navbar -----*/

.file-navbar {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
    margin: 15px auto;
    /* border-radius: .35rem; */
    border-radius: 7px;
    border-top: 1px solid rgb(60, 60, 60, .12);
    margin-bottom: 0px;
}

@media screen and (max-width: 640px) {
    .file-navbar {
        padding: 15px 5px;
    }
}

@media screen and (min-width: 641px) {
    .file-navbar {
        padding: 15px 10px;
    }
}

.file-navbar.sticky {
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.file-navbar.over {
    position: sticky;
    top: 0px;
    z-index: 20000;
}

.file-navbar .start {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.file-navbar .end {
    display: flex;
    align-items: center;
}

.file-navbar-btn {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.file-navbar-btn-text {
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 7px;
    white-space: nowrap;
}

.file-navbar-title {
    font-weight: bold;
    padding: 0px 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.file-navbar-title-wrap {
    max-width: 100%;
}

.file-navbar-title-wrap .file-navbar-title {
    line-height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 0px 10px;
}

.file-navbar-title-over {
    display: none;
}

.file-navbar-title-over-wrap {
    display: none;
}

.file-navbar-title-wrap.hover {
    position: relative;
}

.file-navbar-title-wrap.hover .file-navbar-title-over-wrap {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 2px);
}

.file-navbar-title-wrap.hover .file-navbar-title-over {
    display: block;
    position: absolute;
    top: -7px;
    left: -1px;
    padding: 5px 10px 5px 10px;
    /* border-radius: .35rem; */
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    max-width: 100%;
    line-height: 1.5;
    cursor: pointer;
    font-weight: bold;
    z-index: 25000;
}

.file-navbar-title-wrap.hover .file-navbar-title {
    visibility: hidden;
}

.file-navbar .fa-fw {
    width: 1.35em;
}

.file-navbar .mw-1x {
    max-width: calc(100% - 1.35em - 10px);
}

/*----- file-navbar -----*/

/*----- file-navbar-expand -----*/

.file-navbar-expand {
    display: none;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.file-navbar-expand.open {
    display: flex;
}

.file-navbar-expand .fa-fw {
    width: 1.2em;
}

.file-navbar-expand .start {
    display: flex;
    align-items: center;
}

.file-navbar-expand .end {
    display: flex;
    align-items: center;
}

.file-navbar-expand-title {
    font-size: 0.9rem;
    padding: 0px 10px;
}

.file-navbar-expand-scrollable {
    margin: 0px 5px;
    overflow-x: auto;
    scrollbar-width: none;
}

.file-navbar-expand-collapse.collapse:not(.show) {
    display: block;
    height: 15px;
    overflow: hidden;
}

.file-navbar-expand-collapse.collapsing {
    height: 15px;
}

/*----- file-navbar-expand -----*/

/*----- file-navbar-gotop-wrap -----*/

.file-navbar-gotop-wrap .file-navbar-toggle {
    display: block;
}

.file-navbar-gotop-wrap.show .file-navbar-toggle {
    display: none;
}

.file-navbar-gotop-wrap .file-navbar-gotop {
    display: none;
}

.file-navbar-gotop-wrap.show .file-navbar-gotop {
    display: block;
}

.file-navbar-toggle .collapse {
    display: none;
}

.file-navbar-toggle.open .collapse {
    display: inline;
}

.file-navbar-toggle .expand {
    display: inline;
}

.file-navbar-toggle.open .expand {
    display: none;
}

/*----- file-navbar-gotop-wrap -----*/

/*----- file-video-wrap -----*/

.file-video-wrap {
    margin: 0px auto;
    max-width: 1317px;
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    .file-video-wrap {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 30000;
        margin-top: 0px;
    }
}

/*----- file-video-wrap -----*/

/*----- file-text-content -----*/

.file-text-content {
    white-space: pre-line;
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width: 1024px) {
    .file-text-content {
        font-size: 1.25rem;
        padding: 15px 10px;
    }
}

@media screen and (min-width: 1025px) {
    .file-text-content {
        font-size: 1.35em;
        padding: 15px 15px;
    }
}

.file-text-content.over {
    position: sticky;
    z-index: 15000;
}

/*----- file-text-content -----*/

/*----- text-theme-button -----*/

.text-theme-button .nav-link-button-icon.svg,
.text-theme-button .nav-link-button-icon svg {
    width: 1.2rem;
    height: 1.2rem;
}

/*----- text-theme-button -----*/

/*----- image-main -----*/

.image-main .file-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    background-color: rgba(23, 23, 23, .65);
    border: 1px solid rgba(23, 23, 23, 0);
    box-shadow: none;
    color: #d2d3d5;
}

.image-main .file-navbar-btn {
    color: #d2d3d5;
}

@media screen and (min-width: 1025px) {
    .image-main .file-navbar-btn:hover {
        color: #fff;
    }
}

.image-main .file-navbar-title-wrap.hover .file-navbar-title-over {
    background-color: rgba(23, 23, 23, .65);
    border: 1px solid rgba(23, 23, 23, 0);
    box-shadow: none;
}

.image-main .file-image-block {
    max-width: 1319px;
}

/*----- image-main -----*/

/*----- file-image-content -----*/

.file-image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #181818;
    z-index: 15000;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.file-image-content img {
    display: block;
    align-self: center;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
}

/*----- file-image-content -----*/

/*----- file-image-control -----*/

.file-image-control {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0px;
    bottom: 0px;
    z-index: 16000;
}

.file-image-control.prev {
    left: 0px;
}

.file-image-control.next {
    right: 0px;
}

.file-image-control-button {
    visibility: hidden;
    color: #d2d3d5;
    background-color: rgba(0, 0, 0, .55);
    text-decoration: none;
    cursor: pointer;
    border-radius: 50rem;
    text-align: center;
    outline: 0;
}

.file-image-control.prev .file-image-control-button {
    margin: 0px 20px 0px 10px;
}

.file-image-control.next .file-image-control-button {
    margin: 0px 10px 0px 20px;
}

.file-image-control.show .file-image-control-button {
    visibility: visible;
}

@media screen and (max-width: 640px) {
    .file-image-control-button {
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media screen and (min-width: 641px) {
    .file-image-control-button {
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .file-image-control-button {
        font-size: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .file-image-control-button:hover {
        color: #fff;
    }
}

/*----- file-image-control -----*/

.file-image-block img {
    transition: opacity .5s ease-in-out;
}