/* body.light {
    --markBorderColor: #ffe69c;
    --markBgColor: #fff3cd;
} */

/* body.dark {
    --markBorderColor: #997404;
    --markBgColor: #332701;
} */

/*----- mark -----*/

.mark {
    /*border: rgba(255, 255, 0, 1);
    background-color: rgba(255, 255, 0, 0.5);*/
    /*border: var(--markBorderColor);
    background-color: var(--markBgColor);*/
    border-color: rgba(255, 218, 106, 1);
    background-color: rgba(255, 218, 106, 0.5);
}

/*----- mark -----*/

/*----- mark -----*/

.mark {
    display: inline-flex;
    padding: 0px 2px;
    /*border-radius: 5px;*/
    border-radius: 0.375rem;
    /*border: 1px solid;*/
    border: 0;
}

/*----- mark -----*/

/*----- board-infobar -----*/

.board-infobar {
    display: flex;
    justify-content: space-between;
}

.board-infobar .start {
    display: flex;
    align-items: center;
}

.board-infobar .end {
    display: flex;
    align-items: center;
}

.board-infobar .start .badge {
    margin-right: 10px;
}

.board-infobar .end .badge {
    margin-left: 10px;
}

/*----- board-infobar -----*/

/*----- search-input-error -----*/

.search-input-error {
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
}

.search-input-error-icon {
    display: inline-flex;
    margin-right: 5px;
}

.search-input-error .alert {
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: .55rem;
}

/*----- search-input-error -----*/