body.light {
    --bookmarkGroupHoverBgColor: #fcfcfc;
    --bookmarkItemHoverBgColor: #f5f5f5;
    --bookmarkGroupIconButtonHoverBgColor: #f2f2f2;
    --bookmarkGroupIconButtonActiveBgColor: #ededed;
    --bookmarkTrailingIconButtonHoverBgColor: #ebebeb;
    --bookmarkTrailingIconButtonActiveBgColor: #e6e6e6;
    --bookmarkTrailingIconButtonDangerColor: #e02e2a;
    /* --bookmarkTrailingIconButtonDangerHoverBgColor: #e02e2a13;
    --bookmarkTrailingIconButtonDangerActiveBgColor: #e02e2a1f; */
    --bookmarkTrailingIconButtonDangerHoverBgColor: #e02e2a18;
    --bookmarkTrailingIconButtonDangerActiveBgColor: #e02e2a24;
}

body.dark {
    --bookmarkGroupHoverBgColor: #333333;
    --bookmarkItemHoverBgColor: #383838;
    --bookmarkGroupIconButtonHoverBgColor: #404040;
    --bookmarkGroupIconButtonActiveBgColor: #464646;
    --bookmarkTrailingIconButtonHoverBgColor: #484848;
    --bookmarkTrailingIconButtonActiveBgColor: #545454;
    /* --bookmarkTrailingIconButtonDangerColor: #ff8583; */
    --bookmarkTrailingIconButtonDangerColor: #f05a57;
    /* --bookmarkTrailingIconButtonDangerHoverBgColor: #e02e2a23;
    --bookmarkTrailingIconButtonDangerActiveBgColor: #e02e2a2f; */
    --bookmarkTrailingIconButtonDangerHoverBgColor: #e02e2a28;
    --bookmarkTrailingIconButtonDangerActiveBgColor: #e02e2a34;
}

/*----- bookmark-group -----*/

@media screen and (min-width: 1025px) {
    .bookmark-group a:hover {
        color: var(--linkHoverColor);
    }

    a.bookmark-group-title-text:hover {
        color: var(--linkHoverColor);
    }
}

/*----- bookmark-group -----*/

/*----- bookmark-group -----*/

/* .bookmark-group:hover {
    background-color: var(--bookmarkGroupHoverBgColor);
} */

.bookmark-group:hover:not(:has(.bookmark-group-children:hover)) {
    background-color: var(--bookmarkGroupHoverBgColor);
}

@media screen and (min-width: 1025px) {
    .bookmark-group .icon-button:not(:disabled):hover {
        background-color: var(--bookmarkGroupIconButtonHoverBgColor);
    }
    
    .bookmark-group .icon-button:not(:disabled):active {
        background-color: var(--bookmarkGroupIconButtonActiveBgColor);
    }
}

/*----- bookmark-group -----*/

/*----- bookmark-item -----*/

.bookmark-item {
    background-color: var(--checkboxWrapColor);
    border-color: var(--checkboxWrapBorderColor);
}

.bookmark-item.hover:hover {
    /* background-color: var(--boardHoverColor); */
    background-color: var(--bookmarkItemHoverBgColor);
}

.bookmark-item .bookmark-item-icon {
    color: var(--fileIconColor);
}

.bookmark-item:hover .bookmark-item-icon {
    color: var(--fileIconHoverColor);
}

.bookmark-item-description {
    color: var(--fileDescriptionColor);
}

.bookmark-item-sub-title {
    color: var(--fileDescriptionColor);
}

/* .bookmark-item.active,
.bookmark-item.active.hover:hover {
    background-color: var(--fileItemActiveBgColor);
}

.bookmark-item.active {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active.hover:hover {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active .bookmark-item-icon {
    color: var(--fileItemActiveIconColor);
}

.bookmark-item.active.hover:hover .bookmark-item-icon {
    color: var(--fileItemActiveIconColor);
}

.bookmark-item.active .bookmark-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active.hover:hover .bookmark-item-description {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active .bookmark-item-sub-title {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active.hover:hover .bookmark-item-sub-title {
    color: var(--fileItemActiveDescriptionColor);
}

.bookmark-item.active a {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active.hover:hover a {
    color: var(--fileItemActiveColor);
}

.bookmark-item.active a:hover {
    color: var(--fileItemActiveLinkHoverColor);
}

.bookmark-item.active.hover:hover a:hover {
    color: var(--fileItemActiveLinkHoverColor);
} */

/*----- bookmark-item -----*/

/*----- bookmark-item-trailing -----*/

@media screen and (min-width: 1025px) {
    .bookmark-item-trailing .icon-button:not(:disabled):hover {
        background-color: var(--bookmarkTrailingIconButtonHoverBgColor);
    }
    
    .bookmark-item-trailing .icon-button:not(:disabled):active {
        background-color: var(--bookmarkTrailingIconButtonActiveBgColor);
    }
}

/* .bookmark-item-trailing .icon-button.danger {
    color: var(--bookmarkTrailingIconButtonDangerColor);
}

@media screen and (min-width: 1025px) {
    .bookmark-item-trailing .icon-button.danger:not(:disabled):hover {
        background-color: var(--bookmarkTrailingIconButtonDangerHoverBgColor);
    }
    
    .bookmark-item-trailing .icon-button.danger:not(:disabled):active {
        background-color: var(--bookmarkTrailingIconButtonDangerActiveBgColor);
    }
} */

/*----- bookmark-item-trailing -----*/

/*----- bookmark-group -----*/

.bookmark-group {
    cursor: pointer;
}

.board.bookmark-group {
    padding-bottom: 1px;
}

.bookmark-group-title {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
}

.bookmark-group-title .start {
    display: flex;
    align-items: center;
}

.bookmark-group-title .end {
    display: flex;
    align-items: center;
}

/* @media screen and (max-width: 640px) {
    .bookmark-group-title .end {
        padding-right: 10px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-group-title .end {
        padding-right: 15px;
    }
} */

.bookmark-group-title-text {
    font-weight: 700;
    padding: 0 10px;
}

.bookmark-group-title-text,
.bookmark-item-text {
    word-wrap: break-word;
    word-break: break-all;
}

.bookmark-group-children {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bookmark-group .bookmark-group-children {
    display: none;
}

.bookmark-group.open .bookmark-group-children {
    display: block;
}

.bookmark-group .expand {
    display: none;
}

.bookmark-group.open .expand {
    display: inline;
}

.bookmark-group .collapse {
    display: inline;
}

.bookmark-group.open .collapse {
    display: none;
}

/*----- bookmark-group -----*/

/*----- bookmark-item -----*/

.bookmark-item {
    display: flex;
    align-items: center;
    /* border-radius: .35rem; */
    /*border-radius: 5px;*/ 
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    margin: 10px auto;
    cursor: pointer;
}

.bookmark-item-icon {
    display: flex;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
}

.bookmark-item-text {
    align-self: center;
}

@media screen and (max-width: 640px) {
    .bookmark-item {
        padding: 10px;
    }

    .bookmark-item-text {
        padding: 0 10px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-item {
        padding: 10px 15px;
    }

    .bookmark-item-text {
        padding: 0 15px;
    }
}

.bookmark-item-title {
    align-self: center;
    padding: 0;
    font-weight: 700;
}

.bookmark-item-sub-title {
    display: block;
    align-items: center;
    align-self: center;
    font-size: .8rem;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 0px;
}

.bookmark-item-sub-title-icon {
    margin-right: 3px;
}

.bookmark-item-description {
    align-self: center;
    font-size: .9rem;
    line-height: 1.5;
    font-weight: 500;
    padding-top: 0px;
}

.bookmark-item-description {
    display: flex;
    align-items: center;
}

.bookmark-item-description.sm {
    font-size: .8rem;
    font-weight: 700;
}

/*----- bookmark-item -----*/

/*----- bookmark-item-trailing -----*/

.bookmark-item-trailing {
    overflow: hidden;
    flex-shrink: 0;
    margin-left: auto;
    width: 0px;
}

.bookmark-item-trailing-block {
    display: flex;
    align-items: center;
    justify-content: right;
    transform: translateX(100px);
}

@media screen and (max-width: 640px) {
    .bookmark-item-trailing-block {
        gap: 0px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-item-trailing-block {
        gap: 5px;
    }
}

@media screen and (max-width: 640px) {
    .bookmark-item.active .bookmark-item-trailing {
        width: 72px;
    }
}

@media screen and (min-width: 641px) {
    .bookmark-item.active .bookmark-item-trailing {
        width: 77px;
    }
}

.bookmark-item.active .bookmark-item-trailing-block {
    transform: translateX(0);
}

.bookmark-item-trailing .icon-button {
    width: 36px;
    height: 36px;
}

/*----- bookmark-item-trailing -----*/

/*----- board-toolbar -----*/

/* .board-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.board-toolbar-scrollable {
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1px;
}

.board-toolbar .start {
    display: flex;
    align-items: center;
}

.board-toolbar .end {
    display: flex;
    align-items: center;
}

.board-toolbar .start .button,
.board-toolbar .start .button-o {
    margin-right: 10px;
}

.board-toolbar .end .button,
.board-toolbar .end .button-o {
    margin-left: 10px;
}

.board-toolbar .start .button.last,
.board-toolbar .start .button-o.last {
    margin-right: 0px;
}

.board-toolbar .end .button.first,
.board-toolbar .end .button-o.first {
    margin-left: 0px;
}

.board-toolbar .start .icon-button {
    margin-right: 10px;
}

.board-toolbar .end .icon-button {
    margin-left: 10px;
}

.board-toolbar .start .icon-button.last {
    margin-right: 0px;
}

.board-toolbar .end .icon-button.first {
    margin-left: 0px;
}

.board-toolbar .start .button-group {
    margin-right: 10px;
}

.board-toolbar .end .button-group {
    margin-left: 10px;
}

.board-toolbar .start .button-group.last {
    margin-right: 0px;
}

.board-toolbar .end .button-group.first {
    margin-left: 0px;
}

.board-toolbar .button-group .button,
.board-toolbar .button-group .button-o {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 640px) {
    .board-toolbar .button .title,
    .board-toolbar .button-o .title {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .board-toolbar .button .title-short,
    .board-toolbar .button-o .title-short {
        display: none;
    }
}

/*----- board-toolbar -----*/

.bookmark-group-children {
    animation: .2s cubic-bezier(.16, 1, .3, 1) bookmarkSlideDownAndFade;
}

@keyframes bookmarkSlideDownAndFade {
    0% {
        opacity: 0;
        transform: translateY(-1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bookmark-item-trailing {
    transition: width .8s;
}

.bookmark-item-trailing-block {
    transition: transform .5s;
}