body {
    --scrollbarColor_Light: #0000001a;
    --scrollbarHoverColor_Light: #0003;
    --scrollbarColor_Dark: #ffffff1a;
    --scrollbarHoverColor_Dark: #fff3;

    --toastColor_Light: #fff;
    --toastBgColor_Light: #3b3b3b;
    --toastShadow_Light: 0 0 24px 0 rgba(0, 0, 0, .1);
    --toastColor_Dark: #181818;
    --toastBgColor_Dark: #ececec;
    --toastShadow_Dark: 0 0 24px 0 rgba(0, 0, 0, .1);

    --popoverBgColor_Light: #fff;
    --popoverBorderColor_Light: #e6e6e6;
    --popoverShadow_Light: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --popoverBgColor_Dark: #404040;
    --popoverBorderColor_Dark: #454545;
    --popoverShadow_Dark: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);

    --dropdownMenuColor_Light: #262626;
    --dropdownMenuHoverBgColor_Light: #f5f5f5;
    --dropdownMenuActiveBgColor_Light: #f0f0f0;
    --dropdownMenuColor_Dark: #d2d3d5;
    --dropdownMenuHoverBgColor_Dark: #555555;
    --dropdownMenuActiveBgColor_Dark: #4a4a4a;
}

body.text-dark {
    --bgColor: hsl(0, 0%, 14%);
    --fontColor: hsl(220, 3%, 83%);
    --linkColor: hsl(216, 4%, 78%);
    --linkHoverColor: hsl(0, 0%, 100%);
    --boxShadow: 0 12px 15px 0 rgb(23 23 23 / 24%), 0 17px 50px 0 rgb(23 23 23 / 19%);
    --boardColor: hsl(0, 0%, 21%);
    --boardShadow: 0 12px 15px 0 rgb(23 23 23 / 24%), 0 17px 50px 0 rgb(23 23 23 / 19%);
    --footerFontColor: hsl(0, 0%, 67%);
    --fileNavbarBgColor: hsl(0, 0%, 21%);
    --fileNavbarShadow: 0 12px 15px 0 rgb(23 23 23 / 24%), 0 17px 50px 0 rgb(23 23 23 / 19%);
    --fileNavbarOverBgColor: hsl(0, 0%, 27%);
    --fileNavbarOverBorderColor: hsl(0, 0%, 29%);
    --fileNavbarOverShadow: 0 12px 15px 0 rgb(23 23 23 / 24%), 0 17px 50px 0 rgb(23 23 23 / 19%);
    --fileNavbarLinkHoverColor: hsl(0, 0%, 100%);
    --fileTextContentColor: hsl(216, 4%, 78%);
    --fileTextContentBgColor: hsl(0, 0%, 14%);
    --themeButtonBgColor: #f9f9f9;
    --themeButtonFontColor: #181818;
    --scrollbarColor: var(--scrollbarColor_Dark);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Dark);
    --toastColor: var(--toastColor_Dark);
    --toastBgColor: var(--toastBgColor_Dark);
    --toastShadow: var(--toastShadow_Dark);
    --popoverBgColor: var(--popoverBgColor_Dark);
    --popoverBorderColor: var(--popoverBorderColor_Dark);
    --popoverShadow: var(--popoverShadow_Dark);
    --dropdownMenuColor: var(--dropdownMenuColor_Dark);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Dark);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Dark);
}

body.text-dark-blue {
    --bgColor: hsl(213, 27%, 13%);
    --fontColor: hsl(210, 17%, 87%);
    --linkColor: hsl(210, 17%, 82%);
    --linkHoverColor: hsl(210, 17%, 99%);
    --boxShadow: 0 12px 15px 0 rgb(17 22 29 / 24%), 0 17px 50px 0 rgb(17 22 29 / 19%);
    --boardColor: hsl(213, 27%, 18%);
    --boardShadow: 0 12px 15px 0 rgb(17 22 29 / 24%), 0 17px 50px 0 rgb(17 22 29 / 19%);
    --footerFontColor: hsl(210, 17%, 67%);
    --fileNavbarBgColor: hsl(213, 27%, 18%);
    --fileNavbarShadow: 0 12px 15px 0 rgb(17 22 29 / 24%), 0 17px 50px 0 rgb(17 22 29 / 19%);
    --fileNavbarOverBgColor: hsl(210, 17%, 25%);
    --fileNavbarOverBorderColor: hsl(210, 17%, 28%);
    --fileNavbarOverShadow: 0 12px 15px 0 rgb(17 22 29 / 24%), 0 17px 50px 0 rgb(17 22 29 / 19%);
    --fileNavbarLinkHoverColor: hsl(210, 17%, 99%);
    --fileTextContentColor: hsl(210, 17%, 82%);
    --fileTextContentBgColor: hsl(213, 27%, 13%);
    --themeButtonBgColor: #f9f9f9;
    --themeButtonFontColor: #181818;
    --scrollbarColor: var(--scrollbarColor_Dark);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Dark);
    --toastColor: var(--toastColor_Dark);
    --toastBgColor: var(--toastBgColor_Dark);
    --toastShadow: var(--toastShadow_Dark);
    --popoverBgColor: var(--popoverBgColor_Dark);
    --popoverBorderColor: var(--popoverBorderColor_Dark);
    --popoverShadow: var(--popoverShadow_Dark);
    --dropdownMenuColor: var(--dropdownMenuColor_Dark);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Dark);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Dark);
}

body.text-light {
    --bgColor: hsl(0, 0%, 96%);
    --fontColor: hsl(0, 0%, 15%);
    --linkColor: hsl(0, 0%, 14%);
    --linkHoverColor: hsl(0, 0%, 48%);
    --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --boardColor: hsl(0, 0%, 100%);
    --boardShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --footerFontColor: hsl(0, 0%, 60%);
    --fileNavbarBgColor: hsl(0, 0%, 100%);
    --fileNavbarShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarOverBgColor: hsl(0, 0%, 100%);
    --fileNavbarOverBorderColor: hsl(0, 0%, 90%);
    --fileNavbarOverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarLinkHoverColor: hsl(0, 0%, 48%);
    --fileTextContentColor: hsl(0, 0%, 28%);
    --fileTextContentBgColor: hsl(0, 0%, 96%);
    --themeButtonBgColor: #404040;
    --themeButtonFontColor: #fff;
    --scrollbarColor: var(--scrollbarColor_Light);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Light);
    --toastColor: var(--toastColor_Light);
    --toastBgColor: var(--toastBgColor_Light);
    --toastShadow: var(--toastShadow_Light);
    --popoverBgColor: var(--popoverBgColor_Light);
    --popoverBorderColor: var(--popoverBorderColor_Light);
    --popoverShadow: var(--popoverShadow_Light);
    --dropdownMenuColor: var(--dropdownMenuColor_Light);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Light);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Light);
}

body.text-gray {
    --bgColor: hsl(240, 13%, 87%);
    --fontColor: hsl(240, 13%, 15%);
    --linkColor: hsl(240, 13%, 14%);
    --linkHoverColor: hsl(240, 13%, 48%);
    --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --boardColor: hsl(240, 13%, 91%);
    --boardShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --footerFontColor: hsl(240, 13%, 60%);
    --fileNavbarBgColor: hsl(240, 13%, 91%);
    --fileNavbarShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarOverBgColor: hsl(240, 13%, 91%);
    --fileNavbarOverBorderColor: hsl(240, 13%, 81%);
    --fileNavbarOverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarLinkHoverColor: hsl(240, 13%, 48%);
    --fileTextContentColor: hsl(0, 0%, 28%);
    --fileTextContentBgColor: hsl(240, 13%, 87%);
    --themeButtonBgColor: #404040;
    --themeButtonFontColor: #fff;
    --scrollbarColor: var(--scrollbarColor_Light);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Light);
    --toastColor: var(--toastColor_Light);
    --toastBgColor: var(--toastBgColor_Light);
    --toastShadow: var(--toastShadow_Light);
    --popoverBgColor: var(--popoverBgColor_Light);
    --popoverBorderColor: var(--popoverBorderColor_Light);
    --popoverShadow: var(--popoverShadow_Light);
    --dropdownMenuColor: var(--dropdownMenuColor_Light);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Light);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Light);
}

body.text-yellow {
    --bgColor: hsl(47, 92%, 93%);
    --fontColor: hsl(0, 0%, 15%);
    --linkColor: hsl(0, 0%, 14%);
    --linkHoverColor: hsl(0, 0%, 48%);
    --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --boardColor: hsl(47, 92%, 95%);
    --boardShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --footerFontColor: hsl(0, 0%, 60%);
    --fileNavbarBgColor: hsl(47, 92%, 95%);
    --fileNavbarShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarOverBgColor: hsl(47, 92%, 95%);
    --fileNavbarOverBorderColor: hsla(0, 0%, 90%, .7);
    --fileNavbarOverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarLinkHoverColor: hsl(0, 0%, 48%);
    --fileTextContentColor: hsl(0, 0%, 28%);
    --fileTextContentBgColor: hsl(47, 92%, 93%);
    --themeButtonBgColor: #404040;
    --themeButtonFontColor: #fff;
    --scrollbarColor: var(--scrollbarColor_Light);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Light);
    --toastColor: var(--toastColor_Light);
    --toastBgColor: var(--toastBgColor_Light);
    --toastShadow: var(--toastShadow_Light);
    --popoverBgColor: var(--popoverBgColor_Light);
    --popoverBorderColor: var(--popoverBorderColor_Light);
    --popoverShadow: var(--popoverShadow_Light);
    --dropdownMenuColor: var(--dropdownMenuColor_Light);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Light);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Light);
}

body.text-orange {
    --bgColor: hsl(37, 92%, 93%);
    --fontColor: hsl(0, 0%, 15%);
    --linkColor: hsl(0, 0%, 14%);
    --linkHoverColor: hsl(0, 0%, 48%);
    --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --boardColor: hsl(37, 92%, 95%);
    --boardShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --footerFontColor: hsl(0, 0%, 60%);
    --fileNavbarBgColor: hsl(37, 92%, 95%);
    --fileNavbarShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarOverBgColor: hsl(37, 92%, 95%);
    --fileNavbarOverBorderColor: hsla(0, 0%, 90%, .5);
    --fileNavbarOverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarLinkHoverColor: hsl(0, 0%, 48%);
    --fileTextContentColor: hsl(0, 0%, 28%);
    --fileTextContentBgColor: hsl(37, 92%, 93%);
    --themeButtonBgColor: #404040;
    --themeButtonFontColor: #fff;
    --scrollbarColor: var(--scrollbarColor_Light);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Light);
    --toastColor: var(--toastColor_Light);
    --toastBgColor: var(--toastBgColor_Light);
    --toastShadow: var(--toastShadow_Light);
    --popoverBgColor: var(--popoverBgColor_Light);
    --popoverBorderColor: var(--popoverBorderColor_Light);
    --popoverShadow: var(--popoverShadow_Light);
    --dropdownMenuColor: var(--dropdownMenuColor_Light);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Light);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Light);
}

body.text-blue {
    --bgColor: hsl(202, 67%, 93%);
    --fontColor: hsl(0, 0%, 15%);
    --linkColor: hsl(0, 0%, 14%);
    --linkHoverColor: hsl(0, 0%, 48%);
    --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --boardColor: hsl(202, 67%, 95%);
    --boardShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --footerFontColor: hsl(0, 0%, 60%);
    --fileNavbarBgColor: hsl(202, 67%, 95%);
    --fileNavbarShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarOverBgColor: hsl(202, 67%, 95%);
    --fileNavbarOverBorderColor: hsla(0, 0%, 90%, .5);
    --fileNavbarOverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarLinkHoverColor: hsl(0, 0%, 48%);
    --fileTextContentColor: hsl(0, 0%, 28%);
    --fileTextContentBgColor: hsl(202, 67%, 93%);
    --themeButtonBgColor: #404040;
    --themeButtonFontColor: #fff;
    --scrollbarColor: var(--scrollbarColor_Light);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Light);
    --toastColor: var(--toastColor_Light);
    --toastBgColor: var(--toastBgColor_Light);
    --toastShadow: var(--toastShadow_Light);
    --popoverBgColor: var(--popoverBgColor_Light);
    --popoverBorderColor: var(--popoverBorderColor_Light);
    --popoverShadow: var(--popoverShadow_Light);
    --dropdownMenuColor: var(--dropdownMenuColor_Light);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Light);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Light);
}

body.text-green {
    --bgColor: hsl(146, 47%, 92%);
    --fontColor: hsl(0, 0%, 15%);
    --linkColor: hsl(0, 0%, 14%);
    --linkHoverColor: hsl(0, 0%, 48%);
    --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --boardColor: hsl(146, 47%, 94%);
    --boardShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --footerFontColor: hsl(0, 0%, 60%);
    --fileNavbarBgColor: hsl(146, 47%, 94%);
    --fileNavbarShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarOverBgColor: hsl(146, 47%, 94%);
    --fileNavbarOverBorderColor: hsla(0, 0%, 90%, .5);
    --fileNavbarOverShadow: 0 2px 5px 0 rgb(0 0 0 / 15%), 0 3px 3px -2px rgb(0 0 0 / 15%);
    --fileNavbarLinkHoverColor: hsl(0, 0%, 48%);
    --fileTextContentColor: hsl(0, 0%, 28%);
    --fileTextContentBgColor: hsl(146, 47%, 92%);
    --themeButtonBgColor: #404040;
    --themeButtonFontColor: #fff;
    --scrollbarColor: var(--scrollbarColor_Light);
    --scrollbarHoverColor: var(--scrollbarHoverColor_Light);
    --toastColor: var(--toastColor_Light);
    --toastBgColor: var(--toastBgColor_Light);
    --toastShadow: var(--toastShadow_Light);
    --popoverBgColor: var(--popoverBgColor_Light);
    --popoverBorderColor: var(--popoverBorderColor_Light);
    --popoverShadow: var(--popoverShadow_Light);
    --dropdownMenuColor: var(--dropdownMenuColor_Light);
    --dropdownMenuHoverBgColor: var(--dropdownMenuHoverBgColor_Light);
    --dropdownMenuActiveBgColor: var(--dropdownMenuActiveBgColor_Light);
}

/*----- file-navbar -----*/

body.text-yellow .file-navbar {
    border-top-color: hsl(47, 92%, 95%);
}

body.text-orange .file-navbar {
    border-top-color: hsl(37, 92%, 95%);
}

body.text-blue .file-navbar {
    border-top-color: hsl(202, 67%, 95%);
}

body.text-green .file-navbar {
    border-top-color: hsl(146, 47%, 94%);
}

/*----- file-navbar -----*/