.video-js.vjs-16-9 {
    height: inherit;
}

@media screen and (max-width: 1024px) {
    .video-js {
        min-height: 100vh;
    }

    .video-js.vjs-16-9 {
        padding-top: inherit;
    }
}

@media screen and (min-width: 1025px) {
    .video-js {
        min-height: inherit;
    }

    .video-js.vjs-16-9 {
        padding-top: 56.25%;
    }
}